<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<!-- header replace -->

<!-- 내용 섹션 시작 -->
<div class="container" style="margin-top: 30px; background-color: white">
	<form method="get" th:action="@{ /product/ }">
		<select class="w100" style="padding-right:10px" name="searchCondition" id="searchCondition">
			<option th:value="0" th:selected="${ search.searchCondition==0 }">전체</option>
			<option th:value="1" th:selected="${ search.searchCondition==1 }">패션</option>
			<option th:value="2" th:selected="${ search.searchCondition==2 }">식품</option>
			<option th:value="3" th:selected="${ search.searchCondition==3 }">주방용품</option>
			<option th:value="4" th:selected="${ search.searchCondition==4 }">생활용품</option>
			<option th:value="5" th:selected="${ search.searchCondition==5 }">인테리어</option>
			<option th:value="6" th:selected="${ search.searchCondition==6 }">가전제품</option>
			<option th:value="7" th:selected="${ search.searchCondition==7 }">스포츠/레저</option>
			<option th:value="8" th:selected="${ search.searchCondition==8 }">도서/음반/DVD</option>
			<option th:value="9" th:selected="${ search.searchCondition==9 }">반려동물용품</option>
			<option th:value="10" th:selected="${ search.searchCondition==10 }">건강식품</option>
		</select>
		<input type="text" th:value="${ search.searchKeyword }" name="searchKeyword" id="searchKeyword" placeholder="검색어를 입력해주세요">
		<button type="submit" class="btn btn-light">검색</button>
	</form> <br>
	<div class="row">
		<div class="col-sm-4" th:each="product : ${ productList }">
			<!-- <a th:href="@{ /product/detail(pno=${ product.pno }) }"> -->
			<a th:href="@{ |/product/${ product.pno }| }">
				<h2 th:text="${ product.name }"></h2>
				<img th:if="${#strings.isEmpty(product.imageName)}" class="img-fluid" th:src="@{ /img/movie1.jpg }" width="350">
				<img th:if="${not #strings.isEmpty(product.imageName)}" class="img-fluid" th:src="@{ /images/ } + ${ product.imageName }" width="350">
				<p th:text="${ product.content }"></p>
			</a>
			<hr class="d-sm-none">
		</div>
	</div>
</div>
<!-- 내용 섹션 끝 -->

<div th:replace="~{ /fragments/member_pagination.html :: pagination }"></div>
<!-- pagination replace -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
	