<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	 
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>

<head>
	<title>All it - I have a All it</title>
	<meta charset="UTF-8"/>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">

function setCondition(){
	let grade = $("#grade").val();
	let gender = $("#gender").val();
	let category = $("#category").val();
	let pick = $("input[name=mdpick]:checked").val();
	let seller = $("#seller").val();

	let con = grade + ', ' + gender + ', ' + category + ', ' +pick + ', ' + seller;
	
	document.getElementById('condition').value = con;

	document.getElementById("theform").action = "/admin/createCoupon";
	document.getElementById("theform").submit();		
}

</script>
</head>

<body th:align="center">
<h1 align="center">쿠폰생성</h1>
<form method="post" th:action="@{/admin/createCoupon}" id="theform">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
	
	<tr>
		<td>쿠폰 설명(이름)</td>
		<td>
			<input type="text" name="couContent" id="couContent" required="required"/>
			<input type="hidden" name="regId" id="regId" th:value="${session['admin'].id}"/>
		</td>	
	</tr>

	<tr>
		<td>쿠폰 종료일</td>
		<td><input type="date" name="endDate" id="endDate" value="2099-12-31" required="required"/></td>
	</tr>
	<tr>
		<td>사용 가능 기간</td>
		<td><input type="text" name="period" id="period" value="15" required="required"/></td>
	</tr>
	<tr>
		<td>할인 금액</td>
		<td>
			<input type="radio" name="dis" id="dis1"  value="할인금액" checked="checked"/>할인금액
			<input type="radio" name="dis" id="dis2" value="할인율" /> 할 인 율
			<br>
			<input type="text" name="discount" id="discount" value="1000" required="required">
		</td>
	</tr>
	<tr>
		<td>최소 사용 금액</td>
		<td><input type="text" name="minPrice" id="minPrice" value="10000"/></td>
	</tr>
	<tr>
		<td>최대 할인 금액</td>
		<td>
			<input type="text" id="maxValue" name="maxValue" value="10000"/>
		</td>
	</tr>
	<tr>
		<td>대상 등급</td>
		<td>
			<select id="grade" name="grade">
				<option value="ALL" selected="selected">ALL</option>
				<option value="BRONZE">BRONZE</option>
				<option value="SILVER">SILVER</option>
				<option value="GOLD">GOLD</option>
				<option value="VIP">VIP</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>성별 여부</td>
		<td>
			<select id="gender" name="gender">
				<option value="남녀" selected="selected">남녀</option>
				<option value="남자">남자</option>
				<option value="여자">여자</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>카테고리 여부</td>
		<td>
			<select name="category" id="category">
				<option th:value="0">전체</option>
				<option th:value="1">패션</option>
				<option th:value="2">식품</option>
				<option th:value="3">주방용품</option>
				<option th:value="4">생활용품</option>
				<option th:value="5">인테리어</option>
				<option th:value="6">가전</option>
				<option th:value="7">스포츠/레저</option>
				<option th:value="8">도서/음반/DVD</option>
				<option th:value="9">반려동물용품</option>
				<option th:value="10">건강식품</option>
			</select>
		</td>
	</tr>		
	<tr>
		<td>추천상품 여부</td>
		<td>
			<input type="radio" name="mdpick" id="mdpickYes" value="YES" />YES
			<input type="radio" name="mdpick" id="mdpickNo" value="NO" checked="checked"/>상관없음
		</td>
	</tr>
	<tr>
		<td>특정 판매자</td>
		<td>
			<input type="text" name="seller" id="seller"  value="SELLERS"/>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="hidden" name="condition" id="condition" value="">
			<input type="submit" value="생성" onclick="setCondition()"/>
			<input type="button" value="뒤로가기" onclick="history.back()"> <br>
		</td>
	</tr>
	 
</table>
</form>
</body>

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
