<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>

<!--
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
-->

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$("#regAll").change(function(){
		  if($("#regAll").is(":checked")){
		 	 $(".test").prop("checked", true);
		  }else{
		  	$(".test").prop("checked", false);
		  }
		});
	
	$(".test").change(function(){
		  if($(".test:checked").length == $(".test").length){
		  	$("#regAll").prop("checked", true);
		   }else{
		  	$("#regAll").prop("checked", false);
		  }
		});
});

function change_seller(){
	var chk_arr = [];
	if ($("input:checkbox[name='sellerId']").is(":checked")==true){
		$("input:checkbox[name='sellerId']:checked").each(function(){
			var chk = $(this).val();
			chk_arr.push(chk);
		})
		var check =	confirm(chk_arr+" 등록 상태 변경 확인?")
		if(check){
			document.getElementById("theform").action = "/admin/changeSeller";
			document.getElementById("theform").submit();		
		}
	}else{
		alert("체크된 값이 없습니다.");
		return;
	}
}

function delete_seller(){
	var chk_arr = [];	
	if ($("input:checkbox[name='sellerId']").is(":checked")==true){
		$("input:checkbox[name='sellerId']:checked").each(function(){
			var chk = $(this).val();
			chk_arr.push(chk);
		})
		var check =	confirm(chk_arr+" 삭제 확인?")
		if(check){
			document.getElementById("theform").action = "/admin/deleteSeller";
			document.getElementById("theform").submit();			
		}
	}else{
		alert("체크된 값이 없습니다.");
		return;
	}
}

</script>
</head>
<body>
<div align="center">	
	<select name="category" onchange="location.href=(this.value)">
		<option value="/admin/findSellerList?a=0" th:selected="${a} == 0">관리자, 판매자 조회</option>
		<option value="/admin/findSellerList?a=1" th:selected="${a} == 1">관리자 조회</option>
		<option value="/admin/findSellerList?a=2" th:selected="${a} == 2" >전체 판매자 조회</option>
		<option value="/admin/findSellerList?a=3" th:selected="${a} == 3" >등록된 판매자 조회</option>
		<option value="/admin/findSellerList?a=4" th:selected="${a} == 4" >등록 대기 판매자 조회</option>
	</select>
</div>

<form action="/admin/regSeller" method="post" id="theform">
<table th:align="center" border="1" cellpadding="0" cellspacing="0" width="700">
<tr>
	<th bgcolor="orange" width="100">번호</th>
	<th bgcolor="orange" width="200">아이디</th>
	<th bgcolor="orange" width="150">이름</th>
	<th bgcolor="orange" width="150">설명</th>
	<th bgcolor="orange" width="100">이메일</th>
	<th bgcolor="orange" width="100">주소</th>
	<th bgcolor="orange" width="100">우편번호</th>
	<th bgcolor="orange" width="100">전화번호</th>
	<th bgcolor="orange" width="100">사업자등록번호</th>
	<th bgcolor="orange" width="200">입점상태</th>
	<th th:if="${b}==1" bgcolor="orange" width="100">체크<br>
		<input type="checkbox" name="checkAll" id="regAll">
	</th>
</tr>

<tr th:each="seller, state : ${list}">
	<td th:text="${state.count}"></td>
	<td th:text="${seller.id}"></td>
	<td th:text="${seller.name}"></td>
	<td th:text="${seller.content}"></td>
	<td th:text="${seller.email}"></td>
	<td th:text="${seller.address}"></td>
	<td th:text="${seller.zipcode}"></td>
	<td th:text="${seller.phone}"></td>
	<td th:text="${seller.regno}"></td>
	<td th:switch="${#strings.toString(seller.role)}">
		<p th:case="TEMP" th:text="대기중" style="color:red;"></p>
		<p th:case="SELLER" th:text="판매자" style="color:blue;"></p>
		<p th:case="ADMIN" th:text="관리자"></p>
	</td>
	<td th:if="${b}==1"><input type="checkbox" name="sellerId" class="test" th:value="${seller.id}"></td>
</tr>

</table>
<div align="center">
	<input th:if="${a}==4 or ${a}==3 or ${a}==2" type="button" value="변경" onclick="change_seller()">
	<input th:if="${a}==2" type="button" value="삭제" onclick="delete_seller()">
</div>
</form>
<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
<!-- pagination replace -->

</body>
<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
</html>