<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$("#regAll").change(function(){
		  if($("#regAll").is(":checked")){
		 	 $(".test").prop("checked", true);
		  }else{
		  	$(".test").prop("checked", false);
		  }
		});
	
	$(".test").change(function(){
		  if($(".test:checked").length == $(".test").length){
		  	$("#regAll").prop("checked", true);
		   }else{
		  	$("#regAll").prop("checked", false);
		  }
		});
});

function reg_product(){
	var chk_arr = [];
	if ($("input:checkbox[name='pno']").is(":checked")==true){
		$("input:checkbox[name='pno']:checked").each(function(){
			var chk = $(this).val();
			chk_arr.push(chk);
		})
		var check =	confirm(chk_arr+" 등록 확인?")
		if(check){
			document.getElementById("theform").action = "/admin/regPro";
			document.getElementById("theform").submit();		
		}
	}else{
		alert("체크된 값이 없습니다.");
		return;
	}
}

function changeProMDPick(){
	var chk_arr = [];
	if ($("input:checkbox[name='pno']").is(":checked")==true){
		$("input:checkbox[name='pno']:checked").each(function(){
			var chk = $(this).val();
			chk_arr.push(chk);
		})
		var check =	confirm(chk_arr+" 변경 확인?")
		if(check){
			document.getElementById("theform").action = "/admin/changeProMDPick";
			document.getElementById("theform").submit();				
		}		
	}else{
		alert("체크된 값이 없습니다.");
		return;
	}
}

function delete_product(){
	var chk_arr = [];
	if ($("input:checkbox[name='pno']").is(":checked")==true){
		$("input:checkbox[name='pno']:checked").each(function(){
			var chk = $(this).val();
			chk_arr.push(chk);
		})
		var check =	confirm(chk_arr+" 삭제 확인?")
		if(check){
			document.getElementById("theform").action = "/admin/deletePro";
			document.getElementById("theform").submit();		
		}
	}else{
		alert("체크된 값이 없습니다.");
		return;
	}
}

</script>
</head>
<body>

<form action="/admin/regPro" method="post" id="theform">	
<table th:align="center" border="1" cellpadding="0" cellspacing="0" width="700">

<tr>
	<th bgcolor="orange" width="100">번호</th>
	<th bgcolor="orange" width="100">카테고리</th>
	<th bgcolor="orange" width="100">상품 번호</th>
	<th bgcolor="orange" width="100">상품명</th>
	<th bgcolor="orange" width="200">내용</th>
	<th bgcolor="orange" width="150">등록일</th>
	<th bgcolor="orange" width="150">가격</th>
	<th bgcolor="orange" width="100">할인률</th>
	<th bgcolor="orange" width="100">판매자</th>
	<th bgcolor="orange" width="100">이미지</th>
	<th th:if="${a}==1" bgcolor="orange" width="100">MDPick 등록 여부</th>
	<th bgcolor="orange" width="100">체크<br>
		<input type="checkbox" name="checkAll" id="regAll">
	</th>
	
</tr>
<tr th:each="pro, state : ${list}">
	<td th:text="${state.count}"></td>
	<td th:switch="${pro.category}">
			<p th:case="1" th:text="패션"></p>
			<p th:case="2" th:text="식품"></p>
			<p th:case="3" th:text="주방용품"></p>
			<p th:case="4" th:text="생활용품"></p>
			<p th:case="5" th:text="인테리어"></p>
			<p th:case="6" th:text="가전"></p>
			<p th:case="7" th:text="|스포츠/레저|"></p>
			<p th:case="8" th:text="|도서/음반/DVD|"></p>
			<p th:case="9" th:text="반려동물용품"></p>
			<p th:case="10" th:text="건강식품"></p>
	</td>
	<td th:text="${pro.pno}"></td>
	<td align="left"><a th:href="@{|/product/detail/${pro.pno}|}" th:text="${pro.name}"></a></td>
	<td th:text="${pro.content}"></td>
	<td th:text="${pro.regDate}"></td>
	<td th:text="${pro.price}"></td>
	<td th:text="${pro.discount}"></td>	
	<td th:text="${pro.seller?.id}"></td>
	<td th:text="${pro.imageName}"></td>
	<td th:if="${a}==1" th:switch="${pro.mdPickyn}" align="center">
		<p th:case="0" th:text="미등록" style="color:red;"></p>
		<p th:case="1" th:text="등록완료" style="color:blue;"></p>
	</td>
	<td align="center"><input type="checkbox" name="pno" class="test" th:value="${pro.pno}"></td>
</tr>
</table>
<div align="center">
	<input th:if="${a}==0" type="button" value="승인" onclick="reg_product()">
	<input type="button" value="삭제" onclick="delete_product()">
	<input th:if="${a}==1" type="button" value="MDPick 변경" onclick="changeProMDPick()">
</div>
</form>

<div th:replace="~{ /fragments/admin_pagination.html :: pagination }"></div>
<!-- pagination replace -->
<hr>
<a th:href="@{/admin/adminMain}">관리자 메인으로</a> <br>
<a th:if="${a}==0" th:href="@{/admin/findAdminProduct(a=1)}">등록 상품 조회</a>
<a th:if="${a}==1" th:href="@{/admin/findAdminProduct(a=0)}">등록 대기 상품 조회</a> <br>

</body>
</html>