<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        
    	$.ajax({
    		url:'/chart/mainChartGender',
    		type:'post',
    		success: function(res){
    			console.log("res=", res);
    			console.log("res=", res[0]);
    			console.log("gender=", res[0]['gender']);
    			console.log("genderCount=", res[0]['genderCount']);

    	      	google.charts.load('current', {'packages':['corechart']});
    	      	google.charts.setOnLoadCallback(function() {
    	      		drawChartGender(res);
    			});

    		}, error: function(xhr,status,err){
				alert("다시 실행하세요.");				
			}	
    	});
    	
    	$.ajax({
    		url:'/chart/mainChartAddress',
    		type:'post',
    		success: function(res){
    			console.log("res=", res);
    			console.log("res=", res[0]);
    			console.log("address=", res[0]['address']);
    			console.log("addressCount=", res[0]['addressCount']);

    	      	google.charts.load('current', {'packages':['corechart']});
    	      	google.charts.setOnLoadCallback(function() {
    	      		drawChartAddress(res);
    			});

    		}, error: function(xhr,status,err){
				alert("다시 실행하세요.");				
			}	
    	});    	

    
		$.ajax({
			url:'/chart/mainChartGrade',
			type:'post',
			success: function(res){
				console.log("res=", res);
				console.log("res=", res[0]);
				console.log("grade=", res[0]['grade']);
				console.log("gradeCount=", res[0]['gradeCount']);
	
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function() {
		      		drawChartGrade(res);
				});
	
			}, error: function(xhr,status,err){
				alert("다시 실행하세요.");				
			}	
		});    
		
		$.ajax({
			url:'/chart/mainChartCategory',
			type:'post',
			success: function(res){
	
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function() {
		      		drawChartCategory(res);
				});
	
			}, error: function(xhr,status,err){
				alert("다시 실행하세요.");				
			}	
		}); 
    });
    
      function drawChartGender(res) {
	          
		var data = new google.visualization.DataTable();
		        
		data.addColumn('string', '성별');
		data.addColumn('number', '수');
		
		for(var i=0; i<res.length; i++){
			data.addRow([res[i]['gender'], res[i]['genderCount']]);
		};

        var options = {
          title: '남녀'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechartGender'));

        chart.draw(data, options);
      }
      
      function drawChartAddress(res) {
  		var data = new google.visualization.DataTable();
        
		data.addColumn('string', '지역');
		data.addColumn('number', '수');
		
		var view = new google.visualization.DataView(data);
		
		for(var i=0; i<res.length; i++){
			data.addRow([res[i]['address'], res[i]['addressCount']]);
		};

          var options = {
            title: "지역",
            width: 600,
            height: 400,
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_valuesAddress"));
          chart.draw(view, options);
      }
      
      function drawChartGrade(res) {
          
  		var data = new google.visualization.DataTable();
  		        
  		data.addColumn('string', '등급');
  		data.addColumn('number', '수');
  		
  		for(var i=0; i<res.length; i++){
			console.log("grade=", res[i]['grade']);
			console.log("count=", res[i]['count']);
  			data.addRow([res[i]['grade'], res[i]['count']]);
  		};

          var options = {
            title: '등급',
          };
          var chart = new google.visualization.PieChart(document.getElementById('piechartGrade'));

          chart.draw(data, options);
        }     
      
      function drawChartCategory(res) {
          
    		var data = new google.visualization.DataTable();
    		        
    		data.addColumn('string', '카테고리');
    		data.addColumn('number', '수');
    		
    		for(var i=0; i<res.length; i++){
  			console.log("category=", res[i]['category']);
  			console.log("count=", res[i]['count']);
    			data.addRow([res[i]['category'], res[i]['count']]);
    		};

            var options = {
              title: '카테고리 별 상품',
              is3D: true,       
              sliceVisibilityThreshold: .05
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartCategory'));

            chart.draw(data, options);
          }        
        
    </script>
  </head>
  <body>
  <div class="container" style="margin-top: 30px;">
  <h2>통계 그래프</h2>
    <div id="piechartGender" style="width: 500px; height: 400px; float: left;"></div>
    <div id="columnchart_valuesAddress" style="width: 500px; height: 300px; float: left;"></div><div style="clear:both;"></div>
    <div id="piechartGrade" style="width: 500px; height: 400px; float: left;"></div>
    <div id="piechartCategory" style="width: 500px; height: 400px; float: left;"></div><div style="clear:both;"></div>
  </div>  
  </body>

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
</html>