<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>
<div th:replace="~{ /fragments/subMenu.html :: subMenu }"></div>

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
#contentDiv{
  height: auto;
  min-height: 70%;
}
footer{
  height: 230px;
  position : relative;
  transform : translateY(-100%);
}
</style>	
</head>

<body th:align="center">
<div style="display: flex;" id="contentDiv">
<div class="container" style="margin-top: 30px;">
<h1>좋아요 목록</h1>
<table th:align="center" th:cellpadding="3" th:cellspacing="0" th:width="700" class="table">
	<tr>
		<th width="50">번호</th>
		<th width="300">좋아요 상품명</th>
		<th width="100">가격</th>
		<th width="100">좋아요 취소</th>
	</tr>
	<tr th:if="${size} == 0">
		<td colspan="5" align="center" style="font-weight: bold; color: rgb(255, 195, 81);">좋아요 내역이 없습니다.</td>
	</tr>
	<tr th:each="like, st : ${ likeList }">
		<td th:text="${st.count}">
		<td align="left">
			<a th:href="@{ |/product/${ like.product.pno }| }" >
				<img class="img-fluid" th:src="@{ /images/product/ } + ${ like.product.imageName }" width="100">
				<b th:text="${ like.product.name }" class="text-info"></b>
			</a>
		</td>
		<td th:text="${ #numbers.formatInteger(like.product.price, 1, 'COMMA')}+'원'"></td>
		<td>
			<input type="hidden" th:value="${ like.hno }" name="hno" id="hno">
			<button class="btn btn-warning" id="hitDelete" style="color: black" th:onclick="'javascript:index.deleteHit(this);'">취소</button>
		</td>	  			
	</tr>
</table>
	<th:block th:if="${size} != 0">
		<!-- pagination replace -->
		<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
	</th:block>
</div>
</div>
</body>

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
let index = {
	deleteHit:function(btn) {
 		const data = {
			hno: btn.previousElementSibling.value
		}
		console.log('data = ', data);
		const check = confirm("삭제하시겠습니까?");
			if(check == true) {
			$.ajax({
				type: "delete",
				url: '/hit/delete/${data.hno}',
				data: JSON.stringify(data),
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
			}).done(function(response){ // 처리 성공 시
				alert('좋아요가 취소되었습니다');
				window.location.reload();
			}).fail(function(error){ // 처리 실패 시
				alert(JSON.stringify(error));
			});
		}
	}	
}

index.init();

</script>
<!-- 자바스트립트 섹션 끝 -->

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
</html>