<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>
<div th:replace="~{ /fragments/subMenu.html :: subMenu }"></div>
<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<h1>올잇머니 관리</h1>
<article style="margin-bottom: 20px">
	<form name="formm" id="cartform" method="post">
		<table id="moneyList" border="1" th:align="center">
			<tr>
				<th width="150">올잇머니 잔액</th>
				<td th:text="${ #numbers.formatInteger(session['user']?.money, 1, 'COMMA') }+'원'">
				<input type="hidden" id="money" th:value="${ session['user']?.money }">
			</tr>
			<tr>
				<td>
					<input type="button" class="btn btn-primary" data-toggle="modal" data-target="#moneyModal" value="충전하기"/>
				</td>
				<td>
					<input type="button" value="사용 내역" class="btn btn-light">
				</td>
			</tr>
				
		</table>
		<div class="clear">
			<!-- <a href="#" onclick="delCart()" th:if="${cartList.size() != 0}" class="btn btn-light"><span id="delCheck">선택삭제</span></a> -->
		</div>
		<div id="buttons" style="float: right">
			<!-- <input type="button" value="쇼핑 계속하기" class="btn btn-light" onclick="location.href='/'"> -->
		</div>
	</form>
</article>

<!-- 머니 충전 모달 섹션 시작 -->
<div class="modal fade" id="moneyModal">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-body"> <br>
				<h2>충전 금액을 입력해주세요.</h2>
				<span th:text="'보유 중인 올잇 머니 ' + ${ #numbers.formatInteger(session['user']?.money, 1, 'COMMA') }+'원'"></span><br>
				<input type="text" id="chargeMoney" name="money" placeholder="5만원부터 충전 가능합니다." style="width: 350px;"/> <br>
				<input type="button" value="+5만원" class="btn btn-light" onclick="addMoney(this)"/>
				<input type="button" value="+10만원" class="btn btn-light" onclick="addMoney(this)"/>
				<input type="button" value="+30만원" class="btn btn-light" onclick="addMoney(this)"/>
				<input type="button" value="+50만원" class="btn btn-light" onclick="addMoney(this)"/>
				<br><br>
				<span>충전 은행 </span>
				<select id="chargeMoney-bank">
					<option th:value="없음">==은행선택==</option>
					<option th:value="국민">국민은행</option>
					<option th:value="기업">기업은행</option>
					<option th:value="농협">농협은행</option>
					<option th:value="신한">신한은행</option>
					<option th:value="하나">하나은행</option>
					<option th:value="우리">우리은행</option>
					<option th:value="신협">신협</option>
					<option th:value="수협">수협</option>
					<option th:value="카카오">카카오뱅크</option>
					<option th:value="토스">토스뱅크</option>
				</select> <br><br>
				<span>계좌번호 </span>
				<input type="text" id="chargeMoney-bankNum" style="width: 300px;"><br><br>
				<input type="checkbox" id="chkAgree"><b> 필수 약관 모두 동의</b><br>
				<span style="margin-left: 20px;">올잇머니 서비스 이용약관 </span><br>
				<span style="margin-left: 20px;">올잇머니 전자금융거래 이용약관 </span><br>
				<span style="margin-left: 20px;">개인정보 수집 및 이용 </span><br>
				<span style="margin-left: 20px;">개인정보 제3자 제공 </span><br>
				<span style="margin-left: 20px;">올잇 개인정보 제3자 제공 </span><br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="moneyBtn">충전</button>
				<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>
<!-- 머니 충전 모달 섹션 끝 -->

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
let index = {
	init:function() {
		
		/* 이벤트 처리 */
		// 올잇머니 충전하기 버튼 이벤트
		$("#moneyBtn").on("click", ()=>{ 
			this.chargeMoney();
		});

	},
	
	chargeMoney:function() {
		var charge = parseInt($("#chargeMoney").val());
		//console.log("충전금액:",charge);
		if(charge < 50000) {
			alert("5만원부터 충전 가능합니다.");
		} else if($("#chargeMoney").val() == "") {
			alert("충전 금액을 입력해주세요.");
		} else if($("#chargeMoney-bank").val() == "없음" || $("#chargeMoney-bank").val() == "") {
			alert("충전 은행을 선택해주세요.");
		} else if($("#chargeMoney-bankNum").val() == "") {
			alert("계좌번호를 입력해주세요.");
		} else if(!$("#chkAgree").is(":checked")) {
			alert("필수 약관에 동의해주세요.");
		} else {
			$.ajax({
				url: "/member/moneyCharge",
				type: "post",
				data: JSON.stringify({
					mid: $("#mid").val(),
					money: charge
				}),
				dataType: "text",
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
				success: function(data){ // 처리 성공 시
					console.log(data);
					alert(charge + "원 충전되었습니다.");
					window.location.reload();
					//location.replace("/order/orderList");
				}, error: function(xhr,status,err){
					alert("충전 중 오류가 발생했습니다.\n다시 시도해주세요.");				
					console.log('[chargeMoney() ajax error] '+err);
				}
			});
		}
	},

}
index.init();

// 충전 머니 금액 버튼 이벤트
function addMoney(val) {
	var money = val.value;
	var charge = $("#chargeMoney").val() == "" ? 0 : parseInt($("#chargeMoney").val());
	//console.log(money);
	
	if(money == "+5만원") {
		$("#chargeMoney").val(charge + 50000);
	}
	if(money == "+10만원") {
		$("#chargeMoney").val(charge + 100000);
	}
	if(money == "+30만원") {
		$("#chargeMoney").val(charge + 300000);
	}
	if(money == "+50만원") {
		$("#chargeMoney").val(charge + 500000);
	}
}

</script>
<!-- 자바스트립트 섹션 끝 -->
</body>

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
