<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<!-- header replace -->

<!-- 내용 섹션 시작 -->
<form method="post" action="/order/orders">

	<br><h3>구매자 정보</h3>
	<table>
		<tr>
			<th style="font-size: large; font-weight: bold;">이름</th>
			<td th:text="${ session['user']?.name }">
		</tr>
		<tr>
			<th style="font-size: large; font-weight: bold;">이메일</th>
			<td th:text="${ session['user']?.email }">
		</tr>
		<tr>
			<th style="font-size: large; font-weight: bold;">연락처</th>
			<td th:text="${ session['user']?.phone }">
		</tr>
	</table><hr>
	
	<h3>받는 사람 정보</h3>
	<table id="payerInfo">
		<tr>
			<th style="font-size: large; font-weight: bold;">이름</th>
			<td th:text="${ session['user']?.name }">
		</tr>
		<tr>
			<th style="font-size: large; font-weight: bold;">배송 주소</th>
			<td th:text="${ session['user']?.address }">
		</tr>
		<tr>
			<th style="font-size: large; font-weight: bold;">연락처</th>
			<td th:text="${ session['user']?.phone }">
		</tr>
	</table>
	<button type="button" value="배송정보 변경" class="btn btn-light">배송정보 변경</button><hr>
	
	<h3>주문 상품</h3>
	<table th:if="${ cartList }" th:each="product, ${ cartList }" id="prodInfo">
		<tr>
			<td>
				<a th:href="@{ |/product/${ product.pno }| }">
					<img class="img-fluid" th:src="@{ /images/ } + ${ product.imageName }" width="100">
					<span th:text="${ product.name }" th:name="name"></span>
				</a> 
			</td>
		</tr>
		<tr>
			<td th:text="${ quantity }+'개'"></td>
		</tr>
		<tr>
			<td th:text="${ #numbers.formatInteger(product.price*quantity, 1, 'COMMA') }+'원'" th:name="price"></td>
		</tr>
	</table><hr>
<!-- 
	<table th:unless="${ cartList }" id="prodInfo">
		<tr>
			<td>
				<a th:href="@{ |/product/${ product.pno }| }">
					<img class="img-fluid" th:src="@{ /images/ } + ${ product.imageName }" width="100">
					<span th:text="${ product.name }" th:name="name"></span>
				</a> 
			</td>
		</tr>
		<tr>
			<td th:text="${ quantity }+'개'"></td>
		</tr>
		<tr>
			<td th:text="${ #numbers.formatInteger(product.price*quantity, 1, 'COMMA') }+'원'" th:name="price"></td>
		</tr>
	</table><hr>	
 -->	
	<h3>결제 정보</h3>
	<table id="payInfo">
		<tr>
			<th style="font-size: large; font-weight: bold;">총 상품가격</th>
			<td th:text="${ totalPrice }">
		</tr>
		<tr>
			<th style="font-size: large; font-weight: bold;">할인 쿠폰</th>
			<td>
			<button type="button" value="쿠폰 선택" class="btn btn-light"></button>
		</tr>
		<tr>
			<th style="font-size: large; font-weight: bold;">포인트</th>
			<td th:text="${ session['user']?.point }">
		</tr>
		<tr>
			<th>총 결제금액</th>
			<td th:text="${ totalPrice }">
		</tr>
		<tr>
			<th>결제방법</th>
			<td>
				<input type="radio" name="pay" value="신용/체크카드" checked="checked">신용/체크카드
				<input type="radio" name="pay" value="계좌이체">계좌이체
				<input type="radio" name="pay" value="휴대폰">휴대폰
				<input type="radio" name="pay" value="무통장입금">무통장입금(가상계좌)
			</td>
		</tr>
	</table><br>
	
	<input type="hidden" th:value="${ session['user']?.id }" name="mid" id="mid"/>
	<input type="hidden" th:value="${ product.pno }" name="pno" id="pno"/>
	<input type="hidden" th:value="${ quantity }" name="quantity" id="quantity"/>
	<input type="radio" id="check">위 주문 내용을 확인 하였으며, 회원 본인은 개인정보 이용 및 제공 및 결제에 동의합니다. &nbsp;
	<input type="submit" value="결제하기" class="btn btn-primary">
</form>


<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">

</script>
<!-- 자바스트립트 섹션 끝 -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
	