<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>
<div th:replace="~{ /fragments/subMenu.html :: subMenu }"></div>
<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<h1>주문 목록</h1>
<article>
	<form id="formm" method="post">
	<table id="orderList">

		<tr th:each="order : ${orderList}">
		<table>
			<tr>
				<th width="450">상품명</th>
				<th width="50">수 량</th>
				<th width="100">가 격</th> 
				<th width="100">주문일</th> 
				<th width="100">진행 상태</th>
				<th width="150"></th>    
			</tr>
			<tr th:each="detail : ${order.ordersDetail}">      
				<td>
					<a th:href="@{ |/product/${ detail.product.pno }| }">
						<img class="img-fluid" th:src="@{ /images/ } + ${ detail.product.imageName }" width="100">
							<span th:text="${ detail.product.name }"></span>
							<input type="hidden" id="pname" th:value="${ detail.product.name }">
					</a>
					<span th:text="${#numbers.formatInteger(detail.product.price, 1, 'COMMA')}+'원'"></span>
					<input type="button" class="btn btn-light" id="inCart" value="장바구니 담기">    
				</td>
				<td th:text="${detail.quantity}+'개'"> </td>
				<td th:text="${#numbers.formatInteger(detail.product.price*detail.quantity, 1, 'COMMA')}+'원'" /> </td>      
				<td th:text="${#dates.format(order.regDate, 'yyyy-MM-dd')}" /></td>
				<th:block th:switch="${detail.status}">
					<td th:case="1">주문완료</td>
					<td th:case="2">배송중</td>
					<td th:case="3">배송완료</td>
					<td th:case="4">구매확정</td>
					<td th:case="5">주문취소</td>
					<td th:case="6">교환신청</td>
					<td th:case="7">반품신청</td>
				</th:block>
				<td>
					<input type="button" th:if="${detail.status == 1}" id="cancelOrder" value="주문취소" class="btn btn-light" th:onclick="'javascript:index.cancelOrder(' +${ order.ono }+ ',' +${ detail.odno }+ ');'">
					<input type="button" th:if="${detail.status == 2}" id="delivery" value="배송조회" class="btn btn-light">
					<input type="button" th:if="${detail.status == 3}" id="buyComplete" value="구매확정" class="btn btn-light" th:onclick="'javascript:index.buyComplete(' +${ detail.odno }+ ');'">
					<input type="button" th:if="${detail.status == 3}" id="refund" value="교환/반품 신청" class="btn btn-light" data-toggle="modal" data-target="#refundModal">
					<input type="button" class="btn btn-light" id="productQna" value="상품문의">
					<input type="button" th:if="${detail.status == 3}" id="writeReview" value="리뷰작성" class="btn btn-light">
					
					<input type="hidden" th:value="${ order.ono }" id="ono" name="ono">
	 				<input type="hidden" th:value="${ session['user']?.id }" id="mid" name="mid">
	 				<input type="hidden" th:value="${ detail.product.pno }" id="pno" name="pno">
	 				<input type="hidden" th:value="${ detail.odno }" id="odno" name="odno">
	 				<input type="hidden" th:value="${ order.finalPrice }" id="finalPrice" name="finalPrice">
				</td>
			</tr>
			<tr>
	 			<td colspan="6">
	 				<input type="submit" th:onclick="'javascript:index.orderDetail(' +${ order.ono }+ ');'" value="주문 상세보기 >" id="detail" class="btn btn-light"> 
	 			</td>
 			</tr>
 		</table>
		</tr>
	</table>   

	<div class="clear"></div>
	<div id="buttons" style="float: right">
		<input type="button" value="쇼핑 계속하기" class="btn btn-light" onclick="location.href='/'">     
	</div>
	</form>  
</article>

<!-- 교환/반품 신청 모달 섹션 시작 -->
<div class="modal fade" id="refundModal">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-body"> <br>
				<h2 align="center">교환/반품 신청</h2>
				<span>상품명 </span>
				<input type="text" id="prodName" readonly="readonly"/> <br><br>
				
				<h5>교환/반품 사유 </h5>
				<span><b>단순 변심 </b></span> <br>
				<input type="radio" name="reason" value="상품이 마음에 들지 않음"> 상품이 마음에 들지 않음 <br>
				<input type="radio" name="reason" value="더 저렴한 상품을 발견함"> 더 저렴한 상품을 발견함
				<hr>
				<span><b>상품 문제 </b></span> <br>
				<input type="radio" name="reason" value="상품의 구성품/부속품이 들어있지 않음"> 상품의 구성품/부속품이 들어있지 않음 <br>
				<input type="radio" name="reason" value="상품이 설명과 다름"> 상품이 설명과 다름 <br>
				<input type="radio" name="reason" value="상품이 파손되어 배송됨"> 상품이 파손되어 배송됨 <br>
				<input type="radio" name="reason" value="상품 결함/기능에 이상이 있음"> 상품 결함/기능에 이상이 있음
				<hr>
				<span><b>기타 사유 </b></span>
				<input type="text" name="reason">
				<hr>
				
				<h5>해결 방법 선택 </h5>
				<input type="radio" name="type" value="교환"> 교환 <br>
				<input type="radio" name="type" value="반품 및 환불"> 반품 및 환불
				
				<!-- 배송, 회수 정보 : 상품 회수 주소 -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="moneyBtn">신청</button>
				<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>
<!-- 교환/반품 신청 모달 섹션 끝 -->

<!-- 자바스트립트 섹션 시작 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
let index = {
	init:function() {
		
		$("#inCart").on("click", ()=>{ 
			this.insertCart();
		});
		
		$("#refund").on("click", ()=>{ 
			this.refund();
		});
	},

	// 장바구니 담기
	insertCart:function() {
		let user_id = $("#mid").val();
		
		if(user_id == "" || user_id == "undefined") {
			alert('로그인이 필요한 서비스입니다.');
			window.location.href="/member-login";
			return false;
		} else {
			// ajax는 기본이 비동기 호출이기 때문에 만약 뒤에 다른 요청이 있으면 그것도 같이 수행
			// ajax가 통신을 성공하고 서버가 json을 리턴하면 자동으로 자바오브젝트로 변환해줌
			$.ajax({
				url: "/cart/insert",
				type: "post",
				data: JSON.stringify({
					mid: $("#mid").val(),
					pno: $("#pno").val(),
					quantity : 1
				}),
				dataType: "text",
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
				success: function(data){ // 처리 성공 시
					//alert("[처리결과]"+data);
					if(data == 'inCart') {
						alert('상품이 장바구니에 담겼습니다.');
						//self.history.go(-1);
					} else if(data == 'exist') {
						var chk = confirm('장바구니에 같은 상품이 있습니다. \n그래도 담으시겠습니까?');
						if(chk) {
							//location.replace("/cart/modCart");
							$.ajax({
								url: "/cart/modCart",
								type: "post",
								data: JSON.stringify({
									mid: $("#mid").val(),
									pno: $("#pno").val(),
									quantity : $("#quantity").val(),
									type: "add"
								}),
								dataType: "text",
								contentType: "application/json; charset=utf-8",
								success: function(data){
									if(data == 'modCart') {
										alert('상품이 장바구니에 담겼습니다.');
									} else if(data == 'null') {
										alert('장바구니 조회 중 일시적인 오류입니다.');
									} else {
										alert('로그인이 필요한 서비스입니다.');
									}
								}, error: function(err){
									alert("다시 시도해주세요.");				
									console.log('[modCart() ajax error] '+err);
								}	
							});
						}
					} else {
						alert('로그인이 필요한 서비스입니다.');
					}
				}
			}).fail(function(error){ // 처리 실패 시
				alert("다시 시도해주세요.");
				console.log("[insertCart() ajax error] "+JSON.stringify(error));
			});
		}
	},
	
	// 주문 상세보기
	orderDetail:function(ono) { 
		$("#formm").attr("action", "/order/orderDetail/"+ono);
		$("#formm").submit();
	},
	
	// 주문 취소
	cancelOrder:function(ono, odno) {
		let user_id = $("#mid").val();
		
		if(user_id == "" || user_id == "undefined") {
			alert('로그인이 필요한 서비스입니다.');
			window.location.href="/member-login";
			return false;
		} else {
			$.ajax({
				url: "/order/orderCancel",
				type: "post",
				data: JSON.stringify({
					mid: $("#mid").val(),
					ono: ono,
					odno : odno
				}),
				dataType: "text",
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
				success: function(data){ // 처리 성공 시
					console.log(data);
					alert("선택하신 상품이 주문취소 처리 되었습니다.");
					location.replace("/order/orderList");
				}, error: function(xhr,status,err){
					alert("다시 시도해주세요.");				
					console.log('[cancelOrder() ajax error] '+JSON.stringify(err));
				}
			}).fail(function(error){ // 처리 실패 시
				alert("다시 시도해주세요.");
				console.log("[cancelOrder() ajax error] "+JSON.stringify(error));
			}); 
		}
	},
	
	// 구매 확정
	buyComplete:function(odno) {
		//alert("odno : "+odno);
		let user_id = $("#mid").val();
		
		if(user_id == "" || user_id == "undefined") {
			alert('로그인이 필요한 서비스입니다.');
			window.location.href="/member-login";
			return false;
		} else {
			$.ajax({
				url: "/order/orderComplete",
				type: "post",
				data: JSON.stringify({
					mid: $("#mid").val(),
					//pno: $("#pno").val(),
					//ono: $("#ono").val(),
					odno: odno,
					finalPrice: $("#finalPrice").val() 
				}),
				dataType: "text",
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
				success: function(data){ // 처리 성공 시
					console.log(data);
					alert("선택하신 상품이 구매확정 처리 되었습니다.");
					location.replace("/order/orderList");
				}, error: function(xhr,status,err){
					alert("다시 시도해주세요.");				
					console.log('[orderComplete() ajax error] '+err);
				}
			}).fail(function(error){ // 처리 실패 시
				alert("다시 시도해주세요.");
				console.log("[orderComplete() ajax error] "+JSON.stringify(error));
			});
		}
	},
	
	// 교환/반품 신청
	refund:function() {
		//$("#refund").modal({backdrop: false});
		console.log("product name : ", $("#pname").val());
		
		$("#prodName").val($("#pname").val());
		
		if($("input:radio[name='reason']").is(":checked")) {
			
		}
	}

}
index.init();
</script>
<!-- 자바스트립트 섹션 끝 -->

</body>

<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
<!-- pagination replace -->

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
