<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>
<div th:replace="~{ /fragments/subMenu.html :: subMenu }"></div>
<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<h1>주문 목록</h1>
<article>
	<form name="formm" method="post">
	<table id="cartList">
		<tr>
			<th>상품명</th> <th>수 량</th><th>가 격</th> <th>주문일</th> <th> 진행 상태 </th>    
		</tr>

		<tr th:each="order : ${orderList}">      
			<td>
				<a th:href="@{ |/product/${order.product.pno}| }">
					<h3 th:text="${order.product.name}"> </h3>              
				</a>    
			</td>
			<td th:text="${order.quantity}"> </td>
			<td th:text="${#numbers.formatInteger(order.product.price*order.quantity, 1, 'COMMA')}+'원'" /> </td>      
			<td th:text="${#dates.format(order.orders.regDate, 'yyyy-MM-dd')}" /></td>
			<td th:if="${order.status} == 1" th:text="주문완료"></td>
			<td th:if="${order.status} == 2" th:text="배송중"></td>
			<td th:if="${order.status} == 3" th:text="배송완료"></td>
			<td th:if="${order.status} == 4" th:text="구매확정"></td>
			<td th:if="${order.status} == 5" th:text="주문취소"></td>
		</tr>
	</table>   

	<div class="clear"></div>
	<div id="buttons" style="float: right">
		<input type="button" value="쇼핑 계속하기" class="btn btn-light" onclick="location.href='/'">     
	</div>
	</form>  
</article>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
	// 전체선택/해제
	$(function() {
		var chkObj = document.getElementsByName("cno");
		var rowCnt = chkObj.length;
		
		$("input[name='allCheck']").click(function() {
			var chk_listArr = $("input[name='cno']");
			for (var i=0; i<chk_listArr.length; i++){
				chk_listArr[i].checked = this.checked;
			}
			if($("input[name='cno']:checked").length == rowCnt) {
				$("#delCheck").html("전체삭제");
			} else {
				$("#delCheck").html("선택삭제");
			}
		});
		$("input[name='cno']").click(function() {
			if($("input[name='cno']:checked").length == rowCnt) {
				$("input[name='allCheck']")[0].checked = true;
				$("#delCheck").html("전체삭제");
			} else {
				$("input[name='allCheck']")[0].checked = false;
				$("#delCheck").html("선택삭제");
			}
		});
	});
	
	// 장바구니에서 삭제
	function delCart(){
		var valueArr = new Array();
		var list = $("input[name='cno']");
		for(var i=0; i<list.length; i++) {
			if(list[i].checked) {
				valueArr.push(list[i].value);
			}
		}
		if(valueArr.length == 0) {
			alert("장바구니에서 삭제할 상품을 선택해주세요."); 
		} else {
			var chk = confirm("정말 삭제하시겠습니까?");
			if(chk) {
				$.ajax({
					url:'/cart/delCart',
					type:'post',
					traditional: true,
					data:{cnoArr: valueArr},
					//dataType:'json',
					success: function(res){
						alert("선택하신 상품이 삭제되었습니다.");
						location.replace("/cart/cartList");
					}, error: function(xhr,status,err){
						alert("다시 시도해주세요.");				
						console.log('[delCart() ajax error] '+err);
					}			
				}); 
			}
		}
	}
	
	// 장바구니 수량 변경
	$("#quantity").change(function(){
			
		$.ajax({
			url : "/cart/modCart",
			type : "post",
			data : JSON.stringify({
				mid : $("#mid").val(),
				pno : $("#pno").val(),
				quantity : $("#quantity").val(),
				type: "mod"
			}),
			dataType : "text",
			contentType : "application/json; charset=utf-8",
			success : function(data) {
					if (data == 'modCart') {
					alert('상품 수량이 변경되었습니다.');
					location.replace("/cart/cartList");
				} else if (data == 'null') {
					alert('장바구니 조회 중 일시적인 오류입니다.');
				} else {
					alert('로그인이 필요한 서비스입니다.');
				}
			},
			error : function(err) {
				alert("다시 시도해주세요.");
				console.log('[modCart() ajax error] ' + err);
			}
		});
	});
	
	// 주문하기
	function goOrder(){
		var valueArr = new Array();
		var list = $("input[name='cno']");
		for(var i=0; i<list.length; i++) {
			if(list[i].checked) {
				valueArr.push(list[i].value);
			}
		}
		if(valueArr.length == 0) {
			alert("주문할 상품을 선택해주세요."); 
			return false;
		} else {
			$("#cartform").action = "/order/insert";
			$("#cartform").submit();
		}
	}
</script>
</body>

<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
<!-- pagination replace -->

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
