<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<!-- header replace -->

<body th:align="center">
<!-- 내용 섹션 시작 -->
<form id="orderFrm" method="post">
<h3>구매자 정보</h3>
<table id="buyerInfo" border="1">
	<tr>
		<th>이름</th>
		<td id="userName" th:text="${ session['user'].name }">
	</tr>
	<tr>
		<th>이메일</th>
		<td th:text="${ session['user'].email }">
	</tr>
	<tr>
		<th>연락처</th>
		<td id="userPhone" th:text="${ session['user'].phone }">
	</tr>
</table>
<hr>
<h3>받는 사람 정보</h3>
<table id="receiverInfo" border="1">
	<input type="checkbox" id="chkbox" name="chkbox"> 구매자 정보와 동일
	<tr>
		<th>이름</th>
		<td><input type="text" id="name" name="receiverName" required="required"></td>
	</tr>
	<tr>
		<th>연락처</th>
		<td><input type="text" id="phone" name="receiverPhone" required="required"></td>
	</tr>
	<tr>
		<th>배송 주소</th>
		<td>
			<input type="hidden" name="userZipcode" id="userZipcode" th:value="${ session['user'].zipcode }">
			<input type="hidden" name="userZipcode" id="userAddress" th:value="${ session['user'].address }">
			<input type="text" id="zipcode" name="receiverZipcode" required="required" placeholder="우편번호"/>
			<input type="button" id="kakaoAddr" value="우편번호 찾기" class="btn btn-light"><br>
			<input type="text" id="addr" name="receiverAddr" required="required" placeholder="주소"/><br>
			<input type="text" id="addrDetail" name="receiverAddr" required="required" placeholder="상세주소"/>
		</td>
	</tr>
<!--<tr>
		<th>배송 요청사항</th>
		<td>
			<input type="text" id="" name="" required="required" placeholder="배송 요청사항"/>	
		</td>
	</tr>  -->
</table>
<hr>
<h3>주문 상품</h3>
<table id="prodInfo" border="1">
	<tr>
		<th>상품 정보</th>
		<th>수량</th>
		<th>상품금액</th>
		<th>쿠폰 적용</th>
	</tr>
	<!-- 바로 구매 -->
	<th:block th:if="${product} != null">
		<tr>
			<td>
				<a th:href="@{ |/product/${ product.pno }| }">
					<input type="hidden" th:value="${product.pno}" name="ppno" id="ppno"/> 
					<img class="img-fluid" th:src="@{ /images/ } + ${ product.imageName }" width="100">
					<span th:text="${ product.name }"></span>
				</a> 
				<span th:text="${#numbers.formatInteger(product.price, 1, 'COMMA')}+'원'"></span>
			</td>
			<td th:text="${ quantity }+'개'">
			<td th:text="${ #numbers.formatInteger((product.price * quantity), 1, 'COMMA') }+'원'">
			<td>
				<input type="hidden" name="index" id="index" th:value="0"/>
				<input type="button" class="btn btn-light" onclick="selectCoupon(this)" value="쿠폰"/>
				<input type="hidden" th:value="${product.price}" name="cpprice" id="cpprice"/>
			</td>
		</tr>
	</th:block>
	<!-- 장바구니 구매 -->
	<th:block th:if="${cartList != null}">
	<tr th:each="cart, status : ${cartList}">
		<td><input type="hidden" th:value="${ cart?.cno }" name="cno" id="cno"/>
			<input type="hidden" th:value="${cart?.product.pno}" name="cpno" id="cpno"/> 
			<a th:href="@{ |/product/${ cart.product.pno }| }">
				<img class="img-fluid" th:src="@{ /images/ } + ${ cart.product.imageName }" width="100">
				<span th:text="${ cart.product.name }"></span>
			</a> 
			<span th:text="${#numbers.formatInteger(cart.product.price, 1, 'COMMA')}+'원'"></span>
		</td>
		<td th:text="${ cart.quantity }+'개'">
		<input type="hidden" name="quantity" th:if="${cartList != null}" th:vlaue="${ cart.quantity }">
		<td th:text="${ #numbers.formatInteger((cart.product.price*cart.quantity), 1, 'COMMA') }+'원'">
		<td>
			<input type="hidden" name="index" id="index" th:value="${status.index}"/>
			<input type="button" class="btn btn-light" onclick="selectCoupon(this)" value="쿠폰"/>
			<input type="hidden" th:value="${cart.product.price}" name="cpprice" id="cpprice"/>
		</td>
	</tr>
	</th:block>
</table>
<hr>
<h3>결제 정보</h3>
<table id="payInfo">
		<input type="hidden" id="totalPrice" th:if="${product != null}" th:value="${ product.price * quantity }">
		<input type="hidden" id="totalPrice" th:if="${cartList != null}" th:value="${ totalPrice }">
	<tr>
		<th>총 상품가격</th>
		<td th:if="${product != null}" th:text="${ #numbers.formatInteger(product.price * quantity, 1, 'COMMA') }+'원'">
		<td th:if="${cartList != null}" th:text="${ #numbers.formatInteger(totalPrice, 1, 'COMMA') }+'원'">
	</tr>
	<tr>
		<th>할인 쿠폰</th>
		<td><input type="text" id="coupon" name="coupon" readonly="readonly" style="color: red;border: none;">
			<input type="text" id="coucon" name="coucon" readonly="readonly" style="border: none;">
		</td>
	</tr>
	<tr>
		<th>포인트</th>
		<td>
			<input type="text" id="usePoint" name="usePoint" th:value="0" onchange="changePoint()">
			<button type="button" id="pointBtn" class="btn btn-light">전액 사용</button>
			<br><span>보유 포인트 <b id="mypoint" th:text="${ #authentication.principal.member?.point }"></b>P</span>
		</td>
	</tr>
	<tr>
		<th>총 결제금액</th>
		<td><span id="payPrice" style="font-weight: bold;"></span>
			<input type="hidden" id="finalPrice" name="finalPrice">
		</td>
	</tr>
	<tr>
		<th>올잇머니 결제</th>

		<td><span th:text="${ #numbers.formatInteger(session['user']?.money, 1, 'COMMA') }+'원'"></span>
			<input type="hidden" id="money" th:value="${ session['user']?.money }">
			<input type="button" class="btn btn-light" data-toggle="modal" data-target="#moneyModal" value="충전하기"/>

<!--		<td>
			<span th:if="${ session['user'].money == 0 }" th:text="${ #numbers.formatInteger(#authentication.principal.member.money, 1, 'COMMA') }+'원'"></span>
			<span th:unless="${ session['user'].money == 0 }" th:text="${ #numbers.formatInteger(session['user'].money, 1, 'COMMA') }+'원'"></span>
			<input type="hidden" id="money" th:value="${ #authentication.principal.member.money }">
			<button type="button" id="moneyBtn" class="btn btn-light">충전하기</button>
-->
		</td>
	</tr>
	<!-- 현금영수증? -->
</table>
<br>
<input type="radio" id="chkrdo"> 위 주문 내용을 확인 하였으며, 회원 본인은 개인정보 이용 및 제공 및 결제에 동의합니다.
<br><br>
<input type="text" name="memCou" id="memCou" value="0"/>
<input type="text" name="proid" id="proid" value="0"/>

<input type="hidden" th:value="${ session['user']?.id }" name="mid" id="mid"/>
<input type="hidden" th:value="${ product?.pno }" name="pno" id="pno"/>
<input type="hidden" th:if="${product != null}" th:value="${ quantity }" name="quantity" id="quantity"/>
<!-- <input type="hidden" th:if="${product != null}" th:value="${  }" name="finalPrice" id="finalPrice"/> -->
<input type="submit" value="결제하기" id="payBtn" onclick="return orderCheck()" class="btn btn-primary">
</form>

<!-- 머니 충전 모달 섹션 시작 -->
<div class="modal fade" id="moneyModal">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-body"> <br>
				<h2>충전 금액을 입력해주세요.</h2>
				<span th:text="'보유 중인 올잇 머니 ' + ${ #numbers.formatInteger(session['user']?.money, 1, 'COMMA') }+'원'"></span><br>
				<input type="text" id="chargeMoney" name="money" placeholder="5만원부터 충전 가능합니다." style="width: 350px;"/> <br>
				<input type="button" value="+5만원" class="btn btn-light" onclick="addMoney(this)"/>
				<input type="button" value="+10만원" class="btn btn-light" onclick="addMoney(this)"/>
				<input type="button" value="+30만원" class="btn btn-light" onclick="addMoney(this)"/>
				<input type="button" value="+50만원" class="btn btn-light" onclick="addMoney(this)"/>
				<br><br>
				<span>충전 은행 </span>
				<select id="chargeMoney-bank">
					<option th:value="없음">==은행선택==</option>
					<option th:value="국민">국민은행</option>
					<option th:value="기업">기업은행</option>
					<option th:value="농협">농협은행</option>
					<option th:value="신한">신한은행</option>
					<option th:value="하나">하나은행</option>
					<option th:value="우리">우리은행</option>
					<option th:value="신협">신협</option>
					<option th:value="수협">수협</option>
					<option th:value="카카오">카카오뱅크</option>
					<option th:value="토스">토스뱅크</option>
				</select> <br><br>
				<span>계좌번호 </span>
				<input type="text" id="chargeMoney-bankNum" style="width: 300px;"><br><br>
				<input type="checkbox" id="chkAgree"><b> 필수 약관 모두 동의</b><br>
				<span style="margin-left: 20px;">올잇머니 서비스 이용약관 </span><br>
				<span style="margin-left: 20px;">올잇머니 전자금융거래 이용약관 </span><br>
				<span style="margin-left: 20px;">개인정보 수집 및 이용 </span><br>
				<span style="margin-left: 20px;">개인정보 제3자 제공 </span><br>
				<span style="margin-left: 20px;">올잇 개인정보 제3자 제공 </span><br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="moneyBtn">충전</button>
				<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>
<!-- 머니 충전 모달 섹션 끝 -->

</body>

<!-- 자바스트립트 섹션 시작 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
let index = {
	init:function() {
		priceCheck();
		
		/* 이벤트 처리 */
		// 구매자 정보와 동일 체크박스 이벤트		
		$("#chkbox").on("click", ()=>{ 
			this.copyInfo();
		});
		
		// 포인트 전액사용 버튼 이벤트
		$("#pointBtn").on("click", ()=>{ 
			this.useAllPoint();
		});
		
		// 올잇머니 충전하기 버튼 이벤트
		$("#moneyBtn").on("click", ()=>{ 
			this.chargeMoney();
		});

	},

	copyInfo:function() {
		let userName = document.getElementById("userName");
		let userPhone = document.getElementById("userPhone");
		//console.log(userName.innerText);
		//console.log($("input:checkbox[name='chk']:checked").length);
		
		if($("input[name='chkbox']:checked").length == 0) {
			// 체크 해제 -> 초기화
			$("#name").val("");
			$("#zipcode").val("");
			$("#addr").val("");
			$("#addrDetail").val("");
			$("#phone").val("");
		} else {
			// 체크 -> 구매자 정보 세팅
			$("#name").val(userName.innerText);
			$("#zipcode").val($("#userZipcode").val());
			
			var addr = $("#userAddress").val().split(",");
			//console.log(addr.length);
			if(addr.length > 1) {
				$("#addr").val(addr[0]);
				$("#addrDetail").val(addr[1]);
			} else {
				$("#addr").val($("#userAddress").val());
			}
			
			$("#phone").val(userPhone.innerText);
		}
	},
	
	useAllPoint:function() {	
		var point = $("#usePoint");
		var mypoint = parseInt($("#mypoint").text());
		
		if(parseInt($("#mypoint").text()) < 1000) {
			alert("1000P 이상 보유 시 사용 가능합니다.");
			$("#pointBtn").attr("disabled", "disabled");
		} else if(point == "") {
			point.val(0);
		} else {
			point.val(mypoint);
		}
		priceCheck();
	},
	
	chargeMoney:function() {
		var charge = parseInt($("#chargeMoney").val());
		//console.log("충전금액:",charge);
		if(charge < 50000) {
			alert("5만원부터 충전 가능합니다.");
		} else if($("#chargeMoney").val() == "") {
			alert("충전 금액을 입력해주세요.");
		} else if($("#chargeMoney-bank").val() == "없음" || $("#chargeMoney-bank").val() == "") {
			alert("충전 은행을 선택해주세요.");
		} else if($("#chargeMoney-bankNum").val() == "") {
			alert("계좌번호를 입력해주세요.");
		} else if(!$("#chkAgree").is(":checked")) {
			alert("필수 약관에 동의해주세요.");
		} else {
			$.ajax({
				url: "/member/moneyCharge",
				type: "post",
				data: JSON.stringify({
					mid: $("#mid").val(),
					money: charge
				}),
				dataType: "text",
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
				success: function(data){ // 처리 성공 시
					console.log(data);
					alert(charge + "원 충전되었습니다.");
					window.location.reload();
					//location.replace("/order/orderList");
				}, error: function(xhr,status,err){
					alert("충전 중 오류가 발생했습니다.\n다시 시도해주세요.");				
					console.log('[chargeMoney() ajax error] '+err);
				}
			});
		}
	},

}
index.init();

// 포인트 사용 체크
function changePoint() {
	var point = $("#usePoint");
	var mypoint = parseInt($("#mypoint").text());
	
	if(point.val() == "" || point.val() < 1000) {
		point.val(0);
	}
	if(point.val() > mypoint){
		point.val(mypoint);
	}
	priceCheck();
}

// 충전 머니 금액 버튼 이벤트
function addMoney(val) {
	var money = val.value;
	var charge = $("#chargeMoney").val() == "" ? 0 : parseInt($("#chargeMoney").val());
	//console.log(money);
	
	if(money == "+5만원") {
		$("#chargeMoney").val(charge + 50000);
	}
	if(money == "+10만원") {
		$("#chargeMoney").val(charge + 100000);
	}
	if(money == "+30만원") {
		$("#chargeMoney").val(charge + 300000);
	}
	if(money == "+50만원") {
		$("#chargeMoney").val(charge + 500000);
	}
}

//총 결제금액 계산
function priceCheck() { 
	// 총 상품가격
	let totalPrice = parseInt($("#totalPrice").val());
	// 쿠폰 적용시 할인금액
//	let coupon = parseInt(document.getElementById("coupon").innerText);
	let coupon = document.getElementById("coupon").value;

	// 포인트 사용
	let point = parseInt($("#usePoint").val());

	// 총 결제금액 계산
	let payPrice = totalPrice - coupon - point;
	//console.log("totalPrice=",totalPrice);
	//console.log("coupon=",coupon);
	//console.log("totalPrice - coupon =",totalPrice - coupon);
	
	// 총 결제금액 저장
	$("#finalPrice").val(payPrice);
	// 총 결제금액 format
	$("#payPrice").text(payPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+"원");
}

function orderCheck() {
	//alert($("#chkrdo").prop("checked"));
	let money = parseInt($("#money").val());
	let payPrice = parseInt($("#price").val());
	//console.log("올잇머니", money);
	//console.log("총 결제금액", payPrice);
	
	if($("#userName").text() == "") {
		alert("일시적인 오류입니다.");
		location.replace("/");
		return false;
	} else if($("#name").val() == "") {
		alert("받는 사람 이름을 입력해주세요.");
		$("#name").focus();
		return false;
	} else if($("#zipcode").val() == "" || $("#addr").val() == "") {
		alert("배송 주소를 입력해주세요.");z
		$("#zipcode").focus();
		return false;
	} else if($("#addrDetail").val() == "") {
		alert("상세 주소를 입력해주세요.");
		$("#addrDetail").focus();
		return false;
	} else if($("#phone").val() == "") {
		alert("받는 사람 연락처를 입력해주세요.");
		$("#phone").focus();
		return false;
	} else if(!$("#chkrdo").prop("checked")) {
		alert("결제에 동의해주세요.");
		return false;
	} else if(money < payPrice) {
		alert("올잇머니를 충전해주세요.");
		return false;
	}
	
	if($("#pno").val() == "") {
		// 장바구니 구매
		$("#orderFrm").attr("action", "/order/orders")
		$("#orderFrm").submit;
	} else {
		// 바로구매
		$("#orderFrm").attr("action", "/order/order");
		$("#orderFrm").submit();
	}
	
	return true;
}

// 쿠폰 적용
function selectCoupon(btn){
	let mid = $("#mid").val();
	let index = btn.previousElementSibling.value;
	
	let apno = -1;
	if($("input[name=ppno]").val() != null){
		apno = $("input[name=ppno]").val();
	}else if($("input[name=cpno]").eq(index).val() != null){
		apno = $("input[name=cpno]").eq(index).val();
	}
	
//	let apno = $("#ppno").val();
//	let apno = $("input[name=cpno]").eq(index).val();
	let price = $("input[name=cpprice]").eq(index).val();
	
	alert(apno+", "+ mid+", "+price+", "+index);
	let openwin = window.open("/member/coupon1?pno="+apno, "쿠폰", "width=800, height=600, scrollbars=yes");
}

//카카오 주소api 사용
$("#kakaoAddr").click(function(){
	// 카카오 지도 입력창
	new daum.Postcode({
        oncomplete: function(data) { //선택시 입력값 세팅
        	// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }
		
            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('zipcode').value = data.zonecode;
            document.getElementById("addr").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("addrDetail").focus();
        }
    }).open();
});

</script>
<!-- 자바스트립트 섹션 끝 -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
	