<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>
<div th:replace="~{ /fragments/subMenu.html :: subMenu }"></div>
<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1>문의내역</h1>

<table th:align="center" border="1" cellpadding="0" cellspacing="0" width="700">
	<tr>
		<th bgcolor="orange" width="100">번호</th>
		<th bgcolor="orange" width="150">카테고리</th>
		<th bgcolor="orange" width="300">제목</th>
		<th bgcolor="orange" width="150">등록일</th>
		<th bgcolor="orange" width="150">답변 상태</th>
	</tr>
	<tr th:if="${size} == 0">
		<td colspan="5" align="center" style="font-weight: bold; color: rgb(255, 195, 81);">문의 내역이 없습니다.</td>
	</tr>
	<tr th:each="qna, state : ${list}">
		<td th:text="${state.count}"></td>
		<td th:text="${qna.category}"></td>
		<td align="left"><a th:href="@{/member/qnaDetail(qno=${qna.qno})}" th:text="${qna.title}"></a></td>
		<td th:text="${qna.regDate}"></td>
		<td th:text="${qna.status == 0 ? '답변 대기 중' : '답변 완료'}"></td>
		<!-- <td th:text="${qna.member?.id}"></td>
		<td th:text="${qna.product}"></td>
		<td th:text="${qna.seller}"></td>
		<td th:text="${qna.reply?.content}"></td> -->
	</tr>
</table>
</body>

<!-- pagination replace -->
<div th:replace="~{ /fragments/admin_pagination.html :: pagination }"></div>

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
</html>