<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>
<div th:replace="~{ /fragments/subMenu.html :: subMenu }"></div>

<h1>리뷰내역</h1>

<table th:align="center" border="1" cellpadding="0" cellspacing="0" width="700">
	<tr>
		<th bgcolor="orange" width="100">번호</th>
		<th bgcolor="orange" width="150">이미지</th>
		<th bgcolor="orange" width="300">상품</th>
		<th bgcolor="orange" width="150">구매일</th>
	</tr>
	<tr th:if="${size} == 0">
		<td colspan="5" align="center" style="font-weight: bold; color: rgb(255, 195, 81);">리뷰 내역이 없습니다.</td>
	</tr>
	<tr th:each="review, state : ${ reviewList }">
		<td th:text="${ state.count }"></td>
		<td align="left">
			<a th:href="@{ /member/reviewDetail(rvno=${ review.rvno }) }" >
				<img class="img-fluid" th:src="@{ /images/ } + ${ review.product.imageName }" width="100">
			</a>
		</td>
		<td th:text="${ review.ordersDetail.product.name }"></td>
		<td th:text="${ review.ordersDetail.orders.ragDate }"></td>
	</tr>
</table>
</body>

<!-- pagination replace -->
<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
</html>