<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="container" style="margin-top: 30px;">
<h1>고객센터</h1>
<div align="center" class="form-inline">	
	<select name="category" onchange="location.href=(this.value)" class="form-control mb-2 mr-sm-2">
		<option value="/admin/findCusto?cate=모두 보기" th:selected="${a} == '모두 보기'">모두 보기</option>
		<option value="/admin/findCusto?cate=공지사항" th:selected="${a} == '공지사항'" >공지사항</option>
		<option value="/admin/findCusto?cate=이벤트" th:selected="${a} == '이벤트'">이벤트</option>		
		<option value="/admin/findCusto?cate=전체" th:selected="${a} == '전체'" >자주하는 질문 전체</option>
		<option value="/admin/findCusto?cate=주문/결제" th:selected="${a} == '주문/결제'" >주문/결제</option>
		<option value="/admin/findCusto?cate=취소/교환/반품" th:selected="${a} == '취소/교환/반품'" >취소/교환/반품</option>
		<option value="/admin/findCusto?cate=환불" th:selected="${a} == '환불'" >환불</option>
		<option value="/admin/findCusto?cate=배송" th:selected="${a} == '배송'" >배송</option>
		<option value="/admin/findCusto?cate=회원서비스" th:selected="${a} == '회원서비스'" >회원서비스</option>
		<option value="/admin/findCusto?cate=기타" th:selected="${a} == '기타'" >기타</option>
	</select>
	<button type="button" onclick="insertCustoView()" class="btn btn-warning">글 작성</button>
</div>

<form method="post" id="theform" action="/product/mainBanner">
<table th:align="center" th:cellpadding="3" th:cellspacing="0" th:width="900" class="table">
<tr align="center">
	<th width="80">번호</th>
	<th width="200">카테고리</th>
	<th width="400">제목</th>
	<!-- <th width="150">내용</th> -->
	<th width="200">이미지</th>
	<th width="100">메인화면 등록여부</th>
	<th width="100">체크<br>
		<input type="checkbox" name="checkAll" id="regAll">
	</th>
</tr>
<tr th:if="${list.getTotalElements() == 0}">
	<td colspan="6" align="center" style="font-weight: bold; color: rgb(255, 195, 81);">등록된 글이 없습니다.</td>
</tr>
<tr th:each="cate, state : ${list}" align="center">
	<!-- <td><a th:href="@{/admin/getCustoDetail(cno=${cate.cno})}" th:text="${state.count}"></a></td> -->
  	<td th:text="${state.count}"></td>
	<td th:text="${cate.category}"></td>
	<td align="left"><a th:href="@{/admin/getCustoDetail(cno=${cate.cno})}" th:text="${cate.title}" class="text-info"></a></td>
	<!-- <td align="left"><a th:href="@{/admin/getCustoDetail(cno=${cate.cno})}" th:text="${cate.content}"></a></td> -->
	<td th:if="${cate.imageName} != null"><img class="img-fluid" th:src="@{ /images/admin/ } + ${ cate.imageName }" width="350"></td>
	<td th:if="${cate.imageName} == null"></td>
	<td th:if="${cate.pick} == '1' and ${cate.imageName} != null" style="color: blue;" th:text="등록"></td>
	<td th:if="${cate.pick} == '0' and ${cate.imageName} != null" style="color: red;" th:text="미등록"></td>
	<td th:if="${cate.pick} == '0' and ${cate.imageName} == null" style="color: black;" th:text="등록불가"></td>
	<td th:if="${cate.imageName} != null"><input type="checkbox" name="cno" class="test" th:value="${cate.cno}"></td>
	<td th:if="${cate.imageName} == null"><input type="checkbox" name="cno" class="test" th:value="${cate.cno}" disabled="disabled"></td>
</tr>

</table>
<div align="right">
	<input type="button" value="메인화면 등록" onclick="mainBanner()" class="btn btn-outline-warning">
</div>
</form>
<th:block th:if="${list.getTotalElements() != 0}">
	<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
	<!-- pagination replace -->
</th:block>
</div>
</body>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$("#regAll").change(function(){
		  if($("#regAll").is(":checked")){
		 	 $(".test").prop("checked", true);
		  }else{
		  	$(".test").prop("checked", false);
		  }
		});
	
	$(".test").change(function(){
		  if($(".test:checked").length == $(".test").length){
		  	$("#regAll").prop("checked", true);
		   }else{
		  	$("#regAll").prop("checked", false);
		  }
		});
});

function mainBanner(){
	var chk_arr = [];
	
	if ($("input:checkbox[name='cno']").is(":checked")==true){
		$("input:checkbox[name='cno']:checked").each(function(){
			var chk = $(this).val();
			chk_arr.push(chk);
			
			console.log("chk : ", chk);
		})
		console.log("chk_arr : ", chk_arr);
		var check =	confirm(chk_arr+" 변경 확인?")
		if(check){
			document.getElementById("theform").action = "/admin/mainBanner";
			document.getElementById("theform").submit();				
		}		
	}else{
		alert("체크된 값이 없습니다.");
		return;
	}
}

function insertCustoView(){
	let openwin = window.open("/admin/insertCustoView", "고객센터 글 작성", "width=600, height=600");
}
</script>

<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
</html>