<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table>
	<tr>
		<th>카테고리</th>
		<td th:text="${custo.categroy}"></td>
	</tr>
	<tr>
		<th>제목</th>
		<td th:text="${custo.title}"></td>
	</tr>
	<tr>
		<form id="cus" name="cus" action="/updateCusto" method="post">
			<input type="hidden" name="cno" th:value="${custo.ccno}" >
			<th>내용</th>
			<td><textarea name="content" cols="40" rows="10" th:text="${custo.content}"></textarea></td>
			<td><input type="submit" value="수정"></td>
		</form>		
	</tr>
	<tr>
		<th>
		<a th:href="@{/deleteCusto(cno=${custo.ccno})}" th:text="답변삭제"></a>
		</th>
	</tr>

</table>

</body>
</html>