<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header replace -->
<div th:replace="~{ /fragments/header.html :: header }"></div>

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<!-- 관리자 고객센터 글 상세보기 섹션 시작 -->
<div style="display: flex; margin-top: 30px;">
<div class="container">
<h1>고객센터 글 상세</h1>
<form th:action="@{/admin/updateCusto}" method="post" name="custo">
<input type="hidden" name="cno" th:value="${custo.cno}"/>
<table class="table">
	<tr>
		<th width="100">카테고리</th>
		<td>
			<select name="category" class="form-control">
				<option value="공지사항" th:selected="${custo.category}=='공지사항'">공지사항</option>
				<option value="이벤트" th:selected="${custo.category}=='이벤트'">이벤트</option>
				<option value="자주하는질문-주문/결제" th:selected="${custo.category}=='자주하는질문-주문/결제'" >자주하는질문-주문/결제</option>
				<option value="자주하는질문-취소/교환/반품" th:selected="${custo.category}=='자주하는질문-취소/교환/반품'">자주하는질문-취소/교환/반품</option>
				<option value="자주하는질문-환불" th:selected="${custo.category}=='자주하는질문-환불'">자주하는질문-환불</option>
				<option value="자주하는질문-배송" th:selected="${custo.category}=='자주하는질문-배송'">자주하는질문-배송</option>
				<option value="자주하는질문-회원서비스" th:selected="${custo.category}=='자주하는질문-회원서비스'">자주하는질문-회원서비스</option>
				<option value="기타" th:selected="${custo.category}=='기타'">기타</option>
			</select>
		</td>
	</tr>
	<tr>
		<th th:text="제목"></th>
		<td align="left">
			<input type="text" name="title" th:value="${custo.title}" class="form-control"/>
		</td>
	</tr>
	<tr>
		<th th:text="내용"></th>
		<td align="left">
			<textarea name="content" cols="40" rows="10" th:text="${custo.content}" class="form-control"></textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		<button type="button" onclick="history.back()" class="btn btn-outline-warning">≪ 목록으로 돌아가기</button>
		<input type="submit" value="수정" class="btn btn-warning"/>
		<button type="button" th:onclick="|location.href='@{/admin/deleteCusto?(cno=${custo.cno})}'|" class="btn btn-secondary">삭제</button>
		</td>
	</tr>
</table>
</form>
</div>
</div>
</body>
<!-- footer replace -->
<div th:replace="~{ /fragments/footer.html :: footer }"></div>
</html>