<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<link rel="stylesheet" th:href="@{ /css/files.css }">
<link rel="stylesheet" th:href="@{ https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css }">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body th:align="center">
	<div class="jumbotron text-center" style="margin-bottom: 0; background-color: white">
		<h1>
			<img class="logo" th:src="@{ /img/logo.jpg }">
		</h1>
	</div>
<div id="wrap" align="center">	
  	<h3>회원탈퇴</h3>
  	<br>
	<form id="frm" action="/member/userDel" method="post">
		<table>
			<tr>
				<td>비밀번호</td>
				<td><input type="password" id="pwd" name="pwd" required="required" class="form-control mr-sm-2" placeholder="비밀번호"/></td>
			</tr>
			<tr>
				<td align="center" colspan="2">
					<input type="hidden" name="id" id="id">
					<button type="button" class="btn btn-warning" id="checkBtn" th:text="회원탈퇴"></button>
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
document.getElementById("id").value = opener.document.getElementById("id").value;

/** 회원탈퇴 버튼 이벤트 */
$("#checkBtn").click(function(){
	// 대문자+소문자+숫자+특수문자(~,!,@,#,$,%,^,&,*,_,-) 모두 포함해서 7자 이상
	let regPw = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[~!@#$%^&*_-])[a-zA-Z0-9~!@#$%^&*_-]{7,}$/;
	let pwd = $("#pwd").val();
    console.log('pwd = ', pwd);
	
	if(pwd.trim() == '') {
    	alert("비밀번호를 입력해주세요.");
    	return false;
	} else {
    	var delCheck = window.confirm("정말 탈퇴하시겠습니까? \n탈퇴하시면 모든 정보는 삭제됩니다.");
		
		if(delCheck) {
			$("#frm").submit();
		} else {
			return false;
		}
	}
});

</script>
<!-- 자바스트립트 섹션 끝 -->
</body>
</html>