<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<link rel="stylesheet" th:href="@{ /css/files.css }">
<link rel="stylesheet" th:href="@{ https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css }">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body th:align="center">
	<div class="jumbotron text-center" style="margin-bottom: 0; background-color: white">
		<h1>
			<img class="logo" th:src="@{ /img/logo.jpg }">
		</h1>
	</div>
<div id="wrap" align="center">	
  	<h3>회원탈퇴</h3>
  	<br>
	<!-- <form id="frm" action="/member/userDel" method="post"> -->
	<form id="frm" method="post">
		<table>
			<tr>
				<th>비밀번호</th>
				<td><input type="password" id="pwd" name="pwd" required="required" class="form-control mr-sm-2" placeholder="현재 비밀번호"/></td>
			</tr>
			<tr>
				<td align="center" colspan="2">
					<input type="hidden" name="id" id="id">
					<input type="hidden" name="role" id="role"><br>
					<button type="button" class="btn btn-warning" id="checkBtn" th:text="회원탈퇴"></button>
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
document.getElementById("id").value = opener.document.getElementById("id").value;
document.getElementById("role").value = opener.document.getElementById("role").value;

/** 회원탈퇴 버튼 이벤트 */
$("#checkBtn").click(function(){
	let data = {
		id: $("#id").val(),
		pwd: $("#pwd").val()
	}
    console.log('data = ', data);
	
	if(data.pwd.trim() == '') {
    	alert("비밀번호를 입력해주세요");
    	return false;
	} else {
		if($("#role").val() == "MEMBER") {
	    	$.ajax({
				type: "delete",
				url: '/member/delete/${data.id}',
				data: JSON.stringify(data),
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
			}).done(function(response){ // 처리 성공 시
				if(response == 1) {
					alert('탈퇴가 완료되었습니다');
					window.close();
					opener.location.href="/";			
				} else {
					alert('비밀번호가 틀렸습니다');
				}
			}).fail(function(error){ // 처리 실패 시
				alert(error);
			});
		} else if($("#role").val() == "SELLER") {
			$.ajax({
				type: "delete",
				url: '/seller/delete/{data.pwd}',
				data: JSON.stringify(data),
				contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
			}).done(function(response){ // 처리 성공 시
				if(response == 1) {
					alert('탈퇴가 완료되었습니다');
					window.close();
					opener.location.href="/";			
				} else {
					alert('비밀번호가 틀렸습니다');
				}
			}).fail(function(error){ 	// 처리 실패 시
				alert(error);
			});
		}
	}
});

</script>
<!-- 자바스트립트 섹션 끝 -->
</body>
</html>