<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<link rel="stylesheet" th:href="@{ /css/files.css }">
<link rel="stylesheet" th:href="@{ https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css }">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body th:align="center">
	<div class="jumbotron text-center"
		style="margin-bottom: 0; background-color: white">
		<h1>
			<img class="logo" th:src="@{ /img/logo.jpg }">
		</h1>
	</div>
<div id="wrap" align="center">
  <h3>비밀번호 찾기 결과</h3>
  <form method=post name=formm action="id_check_form" >
    <!-- User ID <input type=text name="id" th:value="${id}">   --> 
    <div style="margin-top: 20px" th:if="${message == 1}">요청하신 비밀번호는 <b th:text="${pw}"></b>입니다.</div>   
    <div style="margin-top: 20px" th:if="${message == -1}">가입되지 않은 정보입니다.</div>
    <br><input type="button" value="다시 찾기" class="btn btn-primary" onclick="reFind()">
    <input type="button" value="확인" class="btn btn-light" onclick="idok()">
  </form>
</div>  

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
function idok(){
	self.close();
}
function reFind(){
	self.history.go(-1);
}
</script>
<!-- 자바스트립트 섹션 끝 -->
</body>
</html>