<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<link rel="stylesheet" th:href="@{ https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css }">
<link rel="stylesheet" th:href="@{ /css/files.css }">
<script th:src="@{ https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js }"></script>
<script th:src="@{ https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js }"></script>
<script th:src="@{ https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js }"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<body th:align="center">
<h1 th:align="center">회원 정보 저장</h1>
<form method="post" action="/member/infoWrite" class="form-inline">
<table th:align="center" th:cellpadding="3" th:cellspacing="0">
	<tr>
		<td>이메일<b class="text-danger">*</b></td>
		<td><input type="email" name="email" id="email" class="form-control mr-sm-2" placeholder="000@000.000"/></td>
	</tr>
	<tr>
		<td>전화번호<b class="text-danger">*</b></td>
		<td><input type="tel" name="phone" id="phone" class="form-control mr-sm-2" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="000-0000-0000"/></td>
	</tr>
	<tr>
		<td>주소<b class="text-danger">*</b></td>
		<td>
			<input type="text" id="zipcode" name="zipcode" class="form-control mr-sm-2" placeholder="우편번호"/>
			<input type="button" id="kakaoAddr" value="우편번호 찾기" class="btn btn-light"><br>
			<input type="text" id="addr" name="address"  class="form-control mr-sm-2" placeholder="주소"/>
			<input type="text" id="addrDetail" name="address"  class="form-control mr-sm-2" placeholder="상세주소"/>
			<!-- <input type="text" id="addrExtra" name="address"  placeholder="참고항목"/> -->
		</td>
	</tr>
	<tr>
		<td>생년월일</td>
		<td><input type="text" name="birth" id="birth" class="form-control mr-sm-2" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="0000-00-00"/></td>
	</tr>
	<tr>
		<td>성별<b class="text-danger">*</b></td>
		<td>
			<input type="radio" name="gender" id="gender" value="남자"/> 남자
			<input type="radio" name="gender" id="gender" value="여자"/> 여자
			<input type="radio" name="gender" id="gender" value="안함" checked="checked"/> 선택 안 함
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="hidden" th:value="${id}" name="id" id="id">
			<input type="submit" value="저장" class="btn btn-warning" id="modify"/>
			<input type="button" value="취소" class="btn btn-warning" th:onclick="window.close();"/>
		</td>
	</tr>
</table>
</form>

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">

	// 카카오 주소api 사용
	$("#kakaoAddr").click(function(){
		// 카카오 지도 입력창
		new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
            	// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
			/*
                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = '(' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("addrExtra").value = extraAddr;
                
                } else {
                    document.getElementById("addrExtra").value = '';
                }
			*/
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("addr").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addrDetail").focus();
            }
        }).open();
	});

	// 배송에 필요한 정보만 화면에서 저장
	$("#modify").click(function() {
		let data = {
			id: $("#id").val(),
			email: $("#email").val(),
			phone: $("#phone").val(),
			zipcode: $("#zipcode").val(),
			address1: $("#addr").val(),
			address2: $("#addrDetail").val(),
			birth: $("#birth").val(),
			gender: $("#gender").val()
		}
		console.log("data = ", data)

		if(data.email.trim() == "") {
			alert('이메일을 입력해주세요');
			return false;
		}
		if(data.phone.trim() == "") {
			alert('전화번호를 입력해주세요');
			return false;
		}
		if(data.zipcode.trim() == "") {
			alert('우편번호를 입력해주세요');
			return false;
		} else {
			$.ajax({
				type: "put",
				url: '/member/modify/${data.id}',
				data: JSON.stringify(data),
				contentType: "application/json; charset=utf-8",
			}).done(function(response) {
				alert('정보가 저장되었습니다');
				opener.location.reload();
				window.close();
			}).fail(function(error){
				alert(JSON.stringify(error));
			});
		}
	});

</script>
<!-- 자바스트립트 섹션 끝 -->

</body>
</html>