<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>All it - I have a All it</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<link rel="stylesheet" th:href="@{ /css/files.css }">
<link rel="stylesheet" th:href="@{ https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css }">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body th:align="center">
	<div class="jumbotron text-center" style="margin-bottom: 0; background-color: white">
		<h1>
			<img class="logo" th:src="@{ /img/logo.jpg }">
		</h1>
	</div>
<div id="wrap" align="center">	
  	<h3>비밀번호 변경</h3>
  	<br>
	<form class="form-inline">
		<table th:align="center">
			<tr>
				<td>비밀번호</td>
				<td><input type="password" id="pwd" name="pwd" required="required" class="form-control mr-sm-2" placeholder="비밀번호"/></td>
			</tr>
			<tr>
				<td>비밀번호 확인</td>
				<td><input type="password" id="pwdCheck" name="pwdCheck" required="required" class="form-control mr-sm-2" placeholder="비밀번호 확인"/>
			</tr>
			<tr>
				<td></td>
				<td>
					<span id="infoPw" class="text-info" style="font-size: 13px;">
					대문자+소문자+숫자+특수문자 7자 이상<br>(특수문자 : ~, !, @, #, $, %, ^, &, *, _, -)
					</span>
					<br><font id="checkPw" size="2"></font>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2"><br>
					<input type="hidden" name="id" id="id">
					<button type="button" class="btn btn-warning" id="checkBtn">비밀번호 변경</button>
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
document.getElementById("id").value = opener.document.getElementById("id").value;

/* 비밀번호 확인 */
$("#pwdCheck").focusout(function(){
	// 대문자+소문자+숫자+특수문자(~,!,@,#,$,%,^,&,*,_,-) 모두 포함해서 7자 이상
	var regPw = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[~!@#$%^&*_-])[a-zA-Z0-9~!@#$%^&*_-]{7,}$/;
	var pass1 = $("#pwd").val();
    var pass2 = $("#pwdCheck").val();
    
	// 비밀번호 입력란이 공란이 아닌 경우
    if (pass1 != "" || pass2 != ""){
    	// 비밀번호와 비밀번호 확인에 입력된 값이 같은 경우
    	if (pass1 == pass2){
    		// 비밀번호 정규식 체크
        	if(!regPw.test(pass1)) {
        		$("#checkPw").html('비밀번호 형식이 맞지 않습니다.');
                $("#checkPw").attr('color','red');
        	} else {
            	$("#checkPw").html('사용 가능한 비밀번호 입니다.');
            	$("#checkPw").attr('color','green');
        	}
        } else {
        	$("#checkPw").html('비밀번호가 일치하지 않습니다.');
            $("#checkPw").attr('color','red');
        }
	}
});

/** 비밀번호확인 버튼 이벤트 */
$("#checkBtn").click(function(){
	let data = {
		id : $("#id").val(),
		pwd : $("#pwd").val(),
		pwd2 : $("#pwdCheck").val()
	}
	
 	if(data.pwd.trim() == '' || data.pwd2.trim() == '') {
    	alert("비밀번호를 입력해주세요.");
    	return false;
	} else if(data.pwd != data.pwd2) {
	    alert("비밀번호를 확인해주세요.");
    	return false;
	} else if(data.pwd == data.pwd2) {
		$.ajax({
			type: "post",
			url: '/member/Pwdmodify/{data.pwd}',
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
		}).done(function(response){ // 처리 성공 시
			alert('비밀번호가 변경되었습니다');	
			window.close();	
		}).fail(function(error){ 	// 처리 실패 시
			alert(error);
		});

	
	}	
});

</script>
<!-- 자바스트립트 섹션 끝 -->
</body>
</html>