<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" id="footer">
	<div class="jumbotron text-center" style="margin-bottom:0; height: 230px;">
		<div class="container">
		<ul class="navbar-nav2">
			<li class="nav-item"><a class="nav-link text-info" th:href="@{ / }">공지사항</a></li>
			<li class="nav-item"><a class="nav-link text-info" th:href="@{ /customerCenter/userCustomerCenter }">고객센터</a></li>
			<li class="nav-item"><a class="nav-link text-info" th:href="@{ /terms-of-service }">이용약관</a></li>
			<li class="nav-item"><a class="nav-link text-info" th:href="@{ /privacy }">개인정보 처리방침</a></li>
		</ul>
		</div>
		<div class="footer-container">
			<p>
				<strong>제작</strong> <small>박현일, 임채원, 정동욱</small><br>
				<strong>주소</strong> <small>서울 관악구 신림로 340, 건중빌딩 6층</small><br>
				<strong>전화</strong> <small>010-0000-0000</small><br>
			</p>
		</div>
	</div>
</div>