<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:fragment="pagination">	 
	<!-- 첫번째 페이지로 이동 -->
	<!-- @{ /seller/main?page=1 }과 같음 -->
	<a th:href="@{ /seller/main(page=1, searchKeyword = ${ param.searchKeyword }) }">First</a>
	
	<!-- productList.getNumber() 사용자:2페이지 getNumber()=1 -->
	<a th:href="${ productList.first } ? '#' : @{ /seller/main(page=${ productList.number }, searchKeyword = ${ param.searchKeyword }) }">prev</a>
	
	<!-- 페이지 번호 링크(현재 페이지는 숫자만) -->
	<!-- for(int page=startPage; page<=endPage; page++)-->
	<span th:each="page: ${ #numbers.sequence(startPage, endPage) }">
		<!-- 요청페이지가 현재페이지면 링크 X -->
		<span th:if="${ page == productList.number + 1 }" th:text="${ page }"></span>
		<!-- 요청페이지가 현재페이지가 아니면 링크 O -->
		<span th:unless="${ page == productList.number + 1} ">
			<a th:href="@{ /seller/main(page=${ page }, searchKeyword = ${ param.searchKeyword }) }" th:text="${ page }"></a>
		</span>
	</span>
	
	<!-- 사용자: 2페이지, getNumber: 1, 3페이지-->
	<a th:href="${ productList.last } ? '#' : @{ /seller/main(page=${ productList.number + 2 }, searchKeyword = ${ param.searchKeyword }) }">next</a>
	
	<!-- 마지막 페이지로 이동 -->
	<a th:href="@{ /seller/main(page=${ productList.totalPages }, searchKeyword = ${ param.searchKeyword }) }">Last</a>
</div>