<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<div th:fragment="subMenu">
<head>
	<title>올잇</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>
	<div class="col-sm-2" style="float: left; margin-top:30px">
		<p><b>MY 정보</b></p>
		<!-- <ul class="nav nav-pills flex-column"> -->
		<ul class="nav flex-column">
	        <li class="nav-item">
	        	<!-- <a class="nav-link active href="#"> -->
	          <a class="nav-link text-warning" th:href="@{ /member/info }">내 정보 보기/수정</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/money }">올잇머니 관리</a>
	        </li>
	        <!-- <li class="nav-item">
	          <a class="nav-link disabled" href="#">Disabled</a>
	        </li> -->
		</ul>
		<!-- <hr class="d-sm-none"> -->
		<hr>
		
		<p><b>MY 쇼핑</b></p>
		<ul class="nav nav-pills flex-column">
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /cart/cartList }">장바구니</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /order/orderList }">주문 내역</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/cancelList }">취소/교환/반품 내역</a>
	        </li>
		</ul>
		<hr>
		
		<p><b>MY 혜택</b></p>
		<ul class="nav nav-pills flex-column">
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/coupon }">할인 쿠폰</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/point }">포인트 관리</a>
	        </li>
		</ul>
		<hr>
		
		<p><b>MY 활동</b></p>
		<ul class="nav nav-pills flex-column">
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/qna }">문의하기</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/qnaList }">문의 내역</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/review }">리뷰 관리</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link text-warning" th:href="@{ /member/like }">좋아요 리스트</a>
	        </li>
		</ul>
		<hr>
	</div>

<!-- 
	<nav style="float: left;">
	<div>
		<div class="myInfo">MY 정보</div>
		<div>
			<ul class="sidebar" id="infoSidebar">
				<li><a class="sidebar-head" th:href="@{ /member/info }">
					<span>내 정보 보기/수정</span>
				</a></li>
				<li><a class="sidebar-head" th:href="@{ /member/money }">
					<span>올잇머니 관리</span>
				</a></li>
			</ul>
		</div>
		<div class="myInfo">MY 쇼핑</div>
		<div>
			<ul class="sidebar" id="infoSidebar">
				<li><a class="sidebar-head" th:href="@{ /cart/cartList }">
					<span>장바구니</span>
				</a></li>
				<li><a class="sidebar-head" th:href="@{ /order/orderList }">
					<span>주문목록</span>
				</a></li>
				<li><a class="sidebar-head" th:href="@{ /member/cancelList }">
					<span>취소/교환/반품 내역</span>
				</a></li>
			</ul>
		</div>
		<div class="myInfo">MY 혜택</div>
		<div>
			<ul class="sidebar" id="infoSidebar">
				<li><a class="sidebar-head" th:href="@{ /member/coupon }">
					<span>할인쿠폰</span>
				</a></li>
				<!-- <li><a class="sidebar-head" th:href="@{ /member/point }">
					<span>포인트관리</span>
				</a></li> -->
			</ul>
		</div>
		<div class="myInfo">MY 활동</div>
		<div>
			<ul class="sidebar" id="infoSidebar">
				<li><a class="sidebar-head" th:href="@{ /member/qna }">
					<span>문의하기</span>
				</a></li>
				<li><a class="sidebar-head" th:href="@{ /member/qnaList }">
					<span>문의내역</span>
				</a></li>
				<li><a class="sidebar-head" th:href="@{ /member/review }">
					<span>리뷰관리</span>
				</a></li>
				<li><a class="sidebar-head" th:href="@{ /member/like }">
					<span>좋아요 리스트</span>
				</a></li>
			</ul>
		</div>
	</div>
	</nav>
-->
</div> 