<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<head>
<script type="text/javascript">
$(document).ready(function() {
	var carousel = $(".carousel-item");
	
	carousel.eq(0).addClass("active");
	
	var carousel_indi = $("ul li:first");
	
	carousel_indi.addClass("active");
});
</script>
<style>
#img {
   width: 350px;
   height: 350px;
   object-fit: fill;
}
</style>
<!-- header replace -->
</head>
<body>
<!-- 내용 섹션 시작 -->
<div id="contentDiv">
<div class="container" style="margin-top: 30px; background-color: white">
	<!-- 이벤트 리스트에 등록된 고객센터 이미지 출력 -->
	<div id="demo" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			 <li data-target="#demo" data-slide-to="${size.index}" th:each="event, size : ${eventList}"></li> 
		</ul>
		<div class="carousel-inner" >
			<div class="carousel-item " th:each="event : ${eventList}">
				<a href="customerCenter/userCustomerCenter?cate=이벤트">
				<img class="img-fluid" th:src="@{ /images/admin/ } + ${ event.imageName }" width="1100" height="500">
				</a>
				<div class="carousel-caption"></div> 
				
			</div>
		</div>
	<a class="carousel-control-prev" href="#demo" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#demo" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
	</div>
	<br><br>
	<div class="row">
		<div class="col-sm-4" th:each="mdPick : ${proList}">
			<a th:href="@{ |/product/${ mdPick.pno }| }" class="text-info">
				<h3 th:text="${mdPick.name}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></h3>
				<img class="img-fluid" id="img" th:src="@{ /images/product/ } + ${ mdPick.imageName }" width="350" height="350" style="object-fit: fill;">
				<p th:text="${mdPick.content}" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"></p>
			</a>
			<hr class="d-sm-none">
		</div>
	</div>
</div>
</div>
<!-- 내용 섹션 끝 -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
</body>
</html>