<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{ /fragments/seller_header.html :: header }"></div>
<!-- header replace -->

<!-- 내용 섹션 시작 -->
<form method="post" th:action="@{ /seller/product/modify }" id="productDetail" enctype="multipart/form-data">
	<div class="form-group">
		<input type="text" th:value="${ product.pno }" name="pno" id="pno">
		<input type="text" th:value="${ product.imageName }" name="imageName" id="imageName">
		<img class="img-fluid" th:src="@{ /images/ } + ${ product.imageName }" width="350">
		<p th:text="${ product.rating }" style="color: purple;"></p>
		<p th:text="${ product.hit }" style="color: aqua;"></p>
		<label for="sel1">카테고리</label>
		<select class="form-control" name="category" id="category">
			<option>==카테고리==</option>
			<option th:value="1" th:selected="${ product.category}=='1'">패션</option>
			<option th:value="2" th:selected="${ product.category}=='2'">식품</option>
			<option th:value="3" th:selected="${ product.category}=='3'">주방용품</option>
			<option th:value="4" th:selected="${ product.category}=='4'">생활용품</option>
			<option th:value="5" th:selected="${ product.category}=='5'">인테리어</option>
			<option th:value="6" th:selected="${ product.category}=='6'">가전</option>
			<option th:value="7" th:selected="${ product.category}=='7'">스포츠/레저</option>
			<option th:value="8" th:selected="${ product.category}=='8'">도서/음반/DVD</option>
			<option th:value="9" th:selected="${ product.category}=='9'">반려동물용품</option>
			<option th:value="10" th:selected="${ product.category}=='10'">건강식품</option>	
		</select>
		<label for="name">상품명</label>
		<input type="text" class="form-control" th:value="${ product.name }" name="name" id="name"/>
		<label for="price">판매가</label>
		<input type="text" class="form-control" th:value="${ product.price }" name="price" id="price"/>
		<label for="content">상품설명</label>
		<textarea class="form-control" th:text="${ product.content }" rows="5" name="content" id="content"></textarea>
		<label for="image">이미지 업로드</label>
		<input type="file" class="form-control-file border" name="imageFile" id="imageFile"/>
	</div>
	<button type="submit" class="btn btn-light" id="modify">상품수정</button>
	<button type="button" class="btn btn-light" id="delete">삭제</button>
</form>
<!-- 내용 섹션 끝 -->

<!-- 댓글 작성 섹션 시작 -->
<div class="card">
	<form>
		<!-- 
		<input type="hidden" id="mid" th:value="${ #authentication.principal.member.id }">
		<input type="hidden" id="sid" th:value="${ #authentication.principal.member.id }">
		 -->
		<input type="hidden" id="save-pno" th:value="${ product.pno }">
		<div class="card-body">
			<textarea class="form-control" id="reply-content" rows=""></textarea>
		</div>
		<div class="card-footer">
			<select class="form-control" name="rating" id="rating">
				<option th:value="1">1</option>
				<option th:value="2">2</option>
				<option th:value="3">3</option>
				<option th:value="4">4</option>
				<option th:value="5">5</option>	
			</select>
			<!-- <input type="file" class="form-control-file border" name="reviewImageFile" id="reviewImageFile"/> -->
			<button type="button" class="btn btn-primary" id="save">등록</button>
		</div>
	</form>
</div>
<br>
<!-- 댓글 작성 섹션 끝 -->
<!-- 댓글 출력 섹션 시작 -->
<div class="card">
	<div class="card-header">댓글</div>
	<ul class="list-group" id="reply--box" th:each="review : ${ product.reviewList }">
		<li class="list-group-item d-flex justify-content-between" id="reply--1">
	  		<div> 
	  			<!-- <p th:text="${ review.member.id }"></p> -->
		  		<span th:text="${ review.rating }"></span>점 <span th:text="${ #dates.format(review.regDate, 'yyyy-MM-dd') }"></span> <br>
		  		<!-- <p th:text="${ review.seller.id }"></p> -->
		  		<!-- <p th:text="${ review.product.name }"></p> -->
		  		<p th:text="${ review.content }"></p>
		  		<span>좋아요 </span><span th:text="${ review.hit }"></span>개
	  		</div>
	  		<div class="d-flex">
	  			<!-- <div class="font-italic" th:text="${ review.member.id }"></div> &nbsp; -->
	  			<button class="badge" style="color: black">삭제</button>
	  		</div>
	  	</li>
	</ul>
</div>
<!-- 댓글 출력 섹션 끝 -->

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
let index = {
	init:function() {
		$("#delete").on("click", ()=>{
			this.deleteByPno();
		});
		$("#save").on("click", () =>{
			this.save();
		});
	},

	deleteByPno:function() {
		let pno = $("#pno").val();
		$.ajax({
			type: "delete",
			url: "/seller/product/delete/"+pno,
			contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
		}).done(function(response){ // 처리 성공 시
			alert('삭제가 완료되었습니다');
			location.href="/seller/";
		}).fail(function(error){ // 처리 실패 시
			alert(JSON.stringify(error));
		});
	},
	
	save:function() {
		let data = {
			pno: $("#save-pno").val(),
			content: $("#reply-content").val(),
			rating: $("#rating").val()
		}
		console.log("data = " + data);
		$.ajax({
			type: "post",
			url: '/review/save/${data.pno}',
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
		}).done(function(response){ // 처리 성공 시
			alert('댓글이 작성되었습니다');
			location.href="/seller/";
		}).fail(function(error){ // 처리 실패 시
			alert(JSON.stringify(error));
		});
	}
}

index.init();

</script>
<!-- 자바스트립트 섹션 끝 -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
	
	