<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<!-- header replace -->

<!-- 내용 섹션 시작 -->
<form method="post" th:action="@{ /seller/product/insert }" enctype="multipart/form-data">
	<div class="form-group">
		<input type="hidden" th:value="${ #authentication.principal.seller.id }" name="seller" id="seller">
		<label for="sel1">카테고리</label>
		<select class="form-control" name="category" id="category">
			<option th:value="0">==카테고리==</option>
			<option th:value="1">패션</option>
			<option th:value="2">식품</option>
			<option th:value="3">주방용품</option>
			<option th:value="4">생활용품</option>
			<option th:value="5">인테리어</option>
			<option th:value="6">가전제품</option>
			<option th:value="7">스포츠/레저</option>
			<option th:value="8">도서/음반/DVD</option>
			<option th:value="9">반려동물용품</option>
			<option th:value="10">건강식품</option>
		</select>
		<label for="name">상품명</label>
		<input type="text" class="form-control" name="name" id="name"/>
		<label for="price">판매가</label>
		<input type="text" class="form-control" name="price" id="price" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
		<label for="content">상품설명</label>
		<textarea class="form-control" rows="5" name="content" id="content"></textarea>
		<label for="image">이미지 업로드</label>
		<input type="file" class="form-control-file border" name="imageFile" id="imageFile">
	</div>
	<button type="submit" class="btn btn-primary" name="save" id="save">상품등록</button>
</form>
<!-- 내용 섹션 끝 -->

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
$("#save").click(function() {
	let category = $("#category").val();
	let name = $("#name").val();
	let price = $("#price").val();
	let content = $("#content").val();
	let imageFile = $("#imageFile").val();
	
	if(category == 0) {
		alert('카테고리를 선택해주세요');
		return false;
	}
	if(name.trim() == "") {
		alert('상품명을 입력해주세요');
		return false;
	}
	if(price.trim() == "") {
		alert('판매가를 입력해주세요');
		return false;
	}
	if(content.trim() == "") {
		alert('상품에 대한 설명을 입력해주세요');
		return false;
	}
	if(imageFile == "") {
		alert('이미지 파일을 포함해주세요');
		return false;
	}
});

</script>
<!-- 자바스트립트 섹션 끝 -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
