<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<!-- header replace -->

<!-- 내용 섹션 시작 -->
<div class="container" style="margin-top: 30px; background-color: white">	
	<form method="get" th:action="@{ /seller/order }">
		<input type="text" name="searchKeyword" id="searchKeyword" placeholder="검색어를 입력해주세요">
		<button type="submit" class="btn btn-light">검색</button>
	</form> <br>
	<table>
		<tr style="text-align: center;">
			<th bgcolor="orange" width="200">상품</th>
			<th bgcolor="orange" width="300">구매자</th>
			<th bgcolor="orange" width="150">가격</th>
			<th bgcolor="orange" width="100">수량</th>
			<th bgcolor="orange" width="250">주문상태</th>
		</tr>
		<tr th:if="${size} == 0">
			<td colspan="5" align="center" style="font-weight: bold; color: rgb(255, 195, 81);">판매 내역이 없습니다.</td>
		</tr>
		<tr th:each="order : ${ orderList }" style="text-align: center;">
			<td >
				<a th:href="@{ |/seller/product/${ order.product.pno }| }">
					<span th:text="${ order.product.name }"></span>
				</a>
			</td>
			<td th:text="${ order.member.id }"></td>
			<td th:text="${ order.product.price }"></td>
			<td th:text="${ order.quantity }"></td>
			<td>
				<select id="status">
					<option th:value="1" th:selected="${ order.status }=='1'">결제완료</option>
					<option th:value="2" th:selected="${ order.status }=='2'">배송중</option>
					<option th:value="3" th:selected="${ order.status }=='3'">배송완료</option>
					<option th:value="4" th:selected="${ order.status }=='4'">구매확정</option>
					<option th:value="5" th:selected="${ order.status }=='5'">주문취소</option>
					<option th:value="2" th:selected="${ order.status }=='6'">교환신청</option>
					<option th:value="3" th:selected="${ order.status }=='7'">반품신청</option>
					<option th:value="4" th:selected="${ order.status }=='8'">리뷰작성완료</option>
					<option th:value="5" th:selected="${ order.status }=='9'">교환/환불 처리완료</option>					
				</select>
				<input type="hidden" th:value="${ order.odno }" id="odno">
				<button type="button" class="badge" name="btn" id="btn" th:onclick="'javascript:index.modifyStatus(this);'">확인</button>
			</td>
		</tr>
	</table>
</div>
<!-- 내용 섹션 끝 -->

<!-- 자바스트립트 섹션 시작 -->
<script type="text/javascript">
let index = {
	modifyStatus:function(btn) {
 		const data = {
			status: btn.previousElementSibling.previousElementSibling.value,
			odno: btn.previousElementSibling.value
		}

		$.ajax({
			type: "put",
			url: '/product/modify/${data.odno}',
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
		}).done(function(response){ // 처리 성공 시
			alert('변경이 완료되었습니다');
			window.location.reload();
		}).fail(function(error){ // 처리 실패 시
			alert(JSON.stringify(error));
		});
	}	

/* 	modifyStatus:function(odno) {
		alert(odno);
		let data = {
			odno = odno,
			status = status
		}
		alert(data);
		$.ajax({
			type: "put",
			url: '/product/modify/{data.odno}',
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8", // body 데이터의 타입을 표시
		}).done(function(response){ // 처리 성공 시
			alert('확인이 완료되었습니다');
			window.location.reload();
		}).fail(function(error){ // 처리 실패 시
			alert(JSON.stringify(error));
		});
	}	 */
}

index.init();

</script>
<!-- 자바스트립트 섹션 끝 -->

<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
<!-- pagination replace -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
	