<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<!-- header replace -->

<!-- 내용 섹션 시작 -->
<div class="container" style="margin-top: 30px; background-color: white">	
	<form method="get" th:action="@{ /seller/qna }">
		<input type="text" name="searchKeyword" id="searchKeyword" placeholder="제목을 입력해주세요">
		<button type="submit" class="btn btn-light">검색</button>
	</form> <br>
	<table>
		<tr style="text-align: center;">
			<th bgcolor="orange" width="100">카테고리</th>
			<th bgcolor="orange" width="150">상품</th>
			<th bgcolor="orange" width="300">제목</th>
			<th bgcolor="orange" width="150">질문자</th>
			<th bgcolor="orange" width="150">답변 상태</th>
			<th bgcolor="orange" width="150">등록일</th>
			<th bgcolor="orange" width="150">답변일</th>   
		</tr>
		<tr th:if="${size} == 0">
			<td colspan="5" align="center" style="font-weight: bold; color: rgb(255, 195, 81);">문의 내역이 없습니다.</td>
		</tr>
		<tr th:each="qna : ${ qnaList }" style="text-align: center;">      
			<td th:text="${ qna.category }"> </td>
			<td th:text="${ qna.product.name }"> </td>
			<td>
				<a th:href="@{ |/seller/qna/${ qna.qno }| }">
					<h5 th:text="${ qna.title }"></h5>              
				</a>    
			</td>
			<td th:text="${ qna.member.id }"> </td>
			<td th:text="${qna.status == 0 ? '답변 대기' : '답변 완료'}"></td>     
			<td th:text="${ #dates.format(qna.regDate, 'yyyy-MM-dd') }" /></td>
			<td th:text="${ #dates.format(qna.resDate, 'yyyy-MM-dd') }" /></td>
		</tr>
	</table>   
</div>
<!-- 내용 섹션 끝 -->

<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
<!-- pagination replace -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
