<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="~{ /fragments/header.html :: header }"></div>
<!-- header replace -->

<!-- 판매자 상품문의내역 섹션 시작 -->
<div class="container" style="margin-top: 30px; background-color: white">	
	<nav class="navbar navbar-expand-sm">
	<form method="get" th:action="@{ /seller/qna }" class="form-inline">
		<input type="text" name="searchKeyword" id="searchKeyword" placeholder="제목을 입력해주세요" class="form-control mr-sm-2">
		<button type="submit" class="btn btn-success">검색</button>
	</form>
	</nav> <br>
	<table class="table" th:width="900">
		<tr style="text-align: center;">
			<th width="100">카테고리</th>
			<th width="200">상품</th>
			<th width="300">제목</th>
			<th width="120">질문자</th>
			<th width="120">답변 상태</th>
			<th width="120">등록일</th>
			<th width="120">답변일</th>   
		</tr>
		<tr th:if="${size} == 0">
			<td colspan="7" align="center" style="font-weight: bold; color: rgb(255, 195, 81);">문의 내역이 없습니다.</td>
		</tr>
		<tr th:each="qna : ${ qnaList }" style="text-align: center;">      
			<td th:text="${ qna.category }"> </td>
			<td th:text="${ qna.product.name }"> </td>
			<td>
				<a th:href="@{ |/seller/qna/${ qna.qno }| }" class="text-info">
					<b th:text="${ qna.title }"></b>              
				</a>    
			</td>
			<td th:text="${ qna.member.id }"> </td>
			<td th:text="${qna.status == 0 ? '답변 대기' : '답변 완료'}"></td>     
			<td th:text="${ #dates.format(qna.regDate, 'yyyy-MM-dd') }" /></td>
			<td th:text="${ #dates.format(qna.resDate, 'yyyy-MM-dd') }" /></td>
		</tr>
	</table>   
</div>
<!-- 내용 섹션 끝 -->

<div th:replace="~{ /fragments/pagination.html :: pagination }"></div>
<!-- pagination replace -->

<div th:replace="~{ /fragments/footer.html :: footer }"></div>
<!-- footer replace -->
